Repository katanemo/arch: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-test, python-tests

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-yaml
        exclude: arch/envoy.template*
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: local
    hooks:

      - id: cargo-fmt
        name: cargo-fmt
        language: system
        types: [file, rust]
        entry: bash -c "cd crates/llm_gateway && cargo fmt -- --check"

      - id: cargo-clippy
        name: cargo-clippy
        language: system
        types: [file, rust]
        entry: bash -c "cd crates/llm_gateway && cargo clippy --all"

      - id: cargo-test
        name: cargo-test
        language: system
        types: [file, rust]
        # --lib is to only test the library, since when integration tests are made,
        # they will be in a seperate tests directory
        entry: bash -c "cd crates/llm_gateway && cargo test --lib"
      - id: python-tests
        name: Run Python Tests with pytest
        language: system
        entry: bash -c "cd model_server && pytest --maxfail=5 --disable-warnings"
        types: [python]


  - repo: https://github.com/psf/black
    rev: 23.1.0
    hooks:
      - id: black
        language_version: python3

Break apart metrics into their own module (#335)
  crates/common/src/stats.rs
  crates/llm_gateway/src/filter_context.rs
  crates/llm_gateway/src/lib.rs
  crates/llm_gateway/src/metrics.rs
  crates/llm_gateway/src/stream_context.rs
  crates/prompt_gateway/src/filter_context.rs
  crates/prompt_gateway/src/lib.rs
  crates/prompt_gateway/src/metrics.rs
  crates/prompt_gateway/src/stream_context.rs
Due: cargo-fmt, cargo-clippy, cargo-test

deploy: cd1b561192712575268bbf5115f1c1eab95ad276
  build_with_arch/agent.html
  build_with_arch/rag.html
  concepts/llm_provider.html
  concepts/prompt_target.html
  concepts/tech_overview/error_target.html
  concepts/tech_overview/listener.html
  concepts/tech_overview/model_serving.html
  concepts/tech_overview/prompt.html
  concepts/tech_overview/request_lifecycle.html
  concepts/tech_overview/tech_overview.html
  concepts/tech_overview/terminology.html
  concepts/tech_overview/threading_model.html
  get_started/intro_to_arch.html
  get_started/overview.html
  get_started/quickstart.html
  guides/function_calling.html
  guides/observability/access_logging.html
  guides/observability/monitoring.html
  guides/observability/observability.html
  guides/observability/tracing.html
  guides/prompt_guard.html
  index.html
  resources/configuration_reference.html
  search.html
Due: none

Fix bugs
  e2e_tests/api_model_server.rest
  model_server/src/core/function_calling.py
Due: python-tests

add hallucination
  model_server/src/core/function_calling.py
  model_server/src/core/hallucination.py
Due: python-tests

add overrides module to model server
  model_server/poetry.lock
  model_server/pyproject.toml
Due: none

fix model_server cli and update version to 0.1.7
  arch/tools/poetry.lock
  arch/tools/pyproject.toml
  model_server/Dockerfile
  model_server/poetry.lock
  model_server/pyproject.toml
  model_server/src/cli.py
Due: python-tests

add test and fix bug
  model_server/src/core/function_calling.py
  model_server/tests/core/test_cases.json
  model_server/tests/core/test_hallucination.py
Due: python-tests

Cotran/integration (#341)
  model_server/src/core/function_calling.py
  model_server/src/core/hallucination.py
  model_server/tests/core/test_cases.json
  model_server/tests/core/test_hallucination.py
Due: python-tests

fix bug
  model_server/src/core/function_calling.py
Due: python-tests

add more test
  model_server/src/core/function_calling.py
  model_server/src/core/hallucination.py
  model_server/tests/core/test_function_calling.py
  model_server/tests/core/test_hallucination.py
  model_server/tests/test_cli_stop_server.py
Due: python-tests

Collect debugging log
  e2e_tests/api_model_server.rest
  model_server/src/core/function_calling.py
  model_server/src/core/hallucination.py
  model_server/src/main.py
Due: python-tests

Update api_model_server.rest
  e2e_tests/api_model_server.rest
Due: none

change thd
  model_server/src/core/hallucination.py
Due: python-tests

latest threshold
  model_server/src/core/hallucination.py
Due: python-tests

new thd
  model_server/src/core/hallucination.py
  model_server/tests/core/test_function_calling.py
Due: python-tests

add log
  model_server/src/core/function_calling.py
Due: python-tests

fix
  model_server/src/core/function_calling.py
  model_server/src/core/hallucination.py
Due: python-tests

Fix bugs
  model_server/src/core/function_calling.py
Due: python-tests

integrate arch with model_server
  arch/envoy.template.yaml
  arch/tools/cli/config_generator.py
  crates/common/src/api/open_ai.rs
  crates/common/src/configuration.rs
  crates/common/src/lib.rs
  crates/common/src/path.rs
  crates/prompt_gateway/src/context.rs
  crates/prompt_gateway/src/embeddings.rs
  crates/prompt_gateway/src/filter_context.rs
  crates/prompt_gateway/src/http_context.rs
  crates/prompt_gateway/src/lib.rs
  crates/prompt_gateway/src/stream_context.rs
  e2e_tests/api_model_server.rest
Due: cargo-fmt, cargo-clippy, cargo-test, python-tests

fix rest file
  crates/common/src/configuration.rs
  crates/common/src/path.rs
  e2e_tests/api_model_server.rest
Due: cargo-fmt, cargo-clippy, cargo-test

send latency numbers from model_server as metadata
  crates/prompt_gateway/src/stream_context.rs
  model_server/pyproject.toml
  model_server/src/core/model_utils.py
  model_server/src/main.py
Due: cargo-fmt, cargo-clippy, cargo-test, python-tests

modify changes
  model_server/src/core/hallucination.py
Due: python-tests

fix tests
  crates/common/src/api/open_ai.rs
  crates/prompt_gateway/src/context.rs
  crates/prompt_gateway/src/stream_context.rs
  demos/weather_forecast/arch_config.yaml
  demos/weather_forecast/main.py
  e2e_tests/api_model_server.rest
  e2e_tests/api_prompt_gateway.rest
  e2e_tests/test_prompt_gateway.py
Due: cargo-fmt, cargo-clippy, cargo-test, python-tests

fix model_server test bootup
  model_server/src/commons/utils.py
  model_server/tests/test_cli_stop_server.py
Due: python-tests

fix test
  model_server/src/core/guardrails.py
  model_server/tests/core/test_guardrails.py
  model_server/tests/test_app.py
  model_server/tests/test_cli_stop_server.py
Due: python-tests

remove nli model
  arch/tools/cli/consts.py
  crates/common/src/consts.rs
  model_server/Dockerfile
  model_server/Dockerfile.gpu
Due: cargo-fmt, cargo-clippy, cargo-test, python-tests

add support for format
  arch/arch_config_schema.yaml
  crates/common/src/api/open_ai.rs
  crates/common/src/configuration.rs
  demos/weather_forecast/arch_config.yaml
  e2e_tests/api_model_server.rest
  e2e_tests/api_prompt_gateway.rest
  e2e_tests/test_prompt_gateway.py
  model_server/pyproject.toml
Due: cargo-fmt, cargo-clippy, cargo-test, python-tests

fix tests
  e2e_tests/test_prompt_gateway.py
Due: python-tests

fix rust
  crates/prompt_gateway/tests/integration.rs
Due: cargo-fmt, cargo-clippy, cargo-test

fix rust tests
  arch/envoy.template.yaml
  crates/common/src/consts.rs
  crates/common/src/embeddings/create_embedding_request.rs
  crates/common/src/embeddings/create_embedding_request_input.rs
  crates/common/src/embeddings/create_embedding_response.rs
  crates/common/src/embeddings/create_embedding_response_usage.rs
  crates/common/src/embeddings/embedding.rs
  crates/common/src/embeddings/mod.rs
  crates/common/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-test

add type check and length checl
  model_server/src/core/function_calling.py
Due: python-tests

fix tests
  crates/common/src/api/open_ai.rs
Due: cargo-fmt, cargo-clippy, cargo-test

retry model_server tests
  .github/workflows/model-server-tests.yml
  model_server/pyproject.toml
Due: none

fixbug
  model_server/src/core/function_calling.py
Due: python-tests

fix
  model_server/pyproject.toml
Due: none

retry
  model_server/pyproject.toml
Due: none

fix lock files
  model_server/poetry.lock
Due: none

add more granular bucket sizes for ttft
  arch/envoy.template.yaml
Due: none
