Repository katanemo/arch: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-test, python-tests

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-yaml
        exclude: arch/envoy.template*
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: local
    hooks:

      - id: cargo-fmt
        name: cargo-fmt
        language: system
        types: [file, rust]
        entry: bash -c "cd crates/llm_gateway && cargo fmt -- --check"

      - id: cargo-clippy
        name: cargo-clippy
        language: system
        types: [file, rust]
        entry: bash -c "cd crates/llm_gateway && cargo clippy --all"

      - id: cargo-test
        name: cargo-test
        language: system
        types: [file, rust]
        # --lib is to only test the library, since when integration tests are made,
        # they will be in a seperate tests directory
        entry: bash -c "cd crates/llm_gateway && cargo test --lib"
      - id: python-tests
        name: Run Python Tests with pytest
        language: system
        entry: bash -c "cd model_server && pytest --maxfail=5 --disable-warnings"
        types: [python]


  - repo: https://github.com/psf/black
    rev: 23.1.0
    hooks:
      - id: black
        language_version: python3

fix more
  e2e_tests/run_e2e_tests.sh
Due: none

make it better
  e2e_tests/run_e2e_tests.sh
Due: none

show logs
  e2e_tests/run_e2e_tests.sh
Due: none

pass env vars
  arch/docker-compose.yaml
Due: none

run in bg
  e2e_tests/run_e2e_tests.sh
Due: none

wait
  e2e_tests/run_e2e_tests.sh
Due: none

wait for 5 mins
  e2e_tests/run_e2e_tests.sh
Due: none

fix logs
  e2e_tests/run_e2e_tests.sh
Due: none

fix log path
  e2e_tests/run_e2e_tests.sh
Due: none

fix logs
  .github/workflows/e2e_tests.yml
  e2e_tests/run_e2e_tests.sh
Due: none

wait for 10 mins
  e2e_tests/run_e2e_tests.sh
Due: none

update md file
  e2e_tests/README.md
  e2e_tests/run_e2e_tests.sh
Due: none

spell check
  e2e_tests/README.md
Due: none

use e2e docker compose file
  .gitignore
  arch/docker-compose.e2e.yaml
  e2e_tests/run_e2e_tests.sh
Due: none

add more tests
  crates/common/src/common_types.rs
  crates/common/src/consts.rs
  crates/prompt_gateway/src/stream_context.rs
  demos/function_calling/api_server/app/main.py
  demos/function_calling/arch_config.yaml
  e2e_tests/common.py
  e2e_tests/test_prompt_gateway.py
Due: cargo-fmt, cargo-clippy, cargo-test, python-tests

more fixes
  crates/common/src/common_types.rs
  crates/prompt_gateway/src/stream_context.rs
  e2e_tests/common.py
  e2e_tests/poetry.lock
  e2e_tests/pyproject.toml
Due: cargo-fmt, cargo-clippy, cargo-test, python-tests

use trap
  e2e_tests/run_e2e_tests.sh
Due: none

fix line
  e2e_tests/run_e2e_tests.sh
Due: none

trap
  chatbot_ui/.vscode/launch.json
  chatbot_ui/Dockerfile
  demos/function_calling/docker-compose.yaml
  e2e_tests/run_e2e_tests.sh
Due: none

better logs
  e2e_tests/run_e2e_tests.sh
Due: none

model sever logs
  e2e_tests/run_e2e_tests.sh
Due: none

direct reps
  crates/prompt_gateway/src/stream_context.rs
  e2e_tests/test_prompt_gateway.py
Due: cargo-fmt, cargo-clippy, cargo-test, python-tests

fix ui
  chatbot_ui/app/run.py
  crates/prompt_gateway/src/stream_context.rs
Due: cargo-fmt, cargo-clippy, cargo-test, python-tests

add stage env
  arch/docker-compose.yaml
  arch/stage.env
Due: none

refactor
  crates/common/src/common_types.rs
  crates/prompt_gateway/src/http_context.rs
  crates/prompt_gateway/src/stream_context.rs
Due: cargo-fmt, cargo-clippy, cargo-test

remove use of stream_response struct
  crates/llm_gateway/src/stream_context.rs
Due: cargo-fmt, cargo-clippy, cargo-test

improve e2e tests
  crates/llm_gateway/tests/integration.rs
  crates/prompt_gateway/src/http_context.rs
  demos/function_calling/api_server/app/main.py
  demos/llm_routing/arch_config.yaml
  e2e_tests/common.py
  e2e_tests/poetry.lock
  e2e_tests/pyproject.toml
  e2e_tests/test_prompt_gateway.py
Due: cargo-fmt, cargo-clippy, cargo-test, python-tests

fix int tests
  crates/llm_gateway/tests/integration.rs
  crates/prompt_gateway/src/http_context.rs
  crates/prompt_gateway/tests/integration.rs
Due: cargo-fmt, cargo-clippy, cargo-test

improve rust test
  .github/workflows/checks.yml
Due: none

fix timeout
  e2e_tests/run_e2e_tests.sh
  model_server/app/cli.py
Due: python-tests

adjust sleep time
  e2e_tests/common_scripts.sh
Due: none

add rust tests
  .github/workflows/rust_tests.yml
Due: none

better names
  .github/workflows/model-server-tests.yml
  .github/workflows/rust_tests.yml
  e2e_tests/run_e2e_tests.sh
Due: none

fix tail command
  e2e_tests/run_e2e_tests.sh
Due: none

remove not needed files
  chatbot_ui/app/run_stream.py
Due: python-tests

deploy: 662a840ac59dc2c1f6bce6b4414992c635da7b69
  build_with_arch/agent.html
  build_with_arch/rag.html
  concepts/llm_provider.html
  concepts/prompt_target.html
  concepts/tech_overview/error_target.html
  concepts/tech_overview/listener.html
  concepts/tech_overview/model_serving.html
  concepts/tech_overview/prompt.html
  concepts/tech_overview/request_lifecycle.html
  concepts/tech_overview/tech_overview.html
  concepts/tech_overview/terminology.html
  concepts/tech_overview/threading_model.html
  get_started/intro_to_arch.html
  get_started/overview.html
  get_started/quickstart.html
  guides/function_calling.html
  guides/observability/access_logging.html
  guides/observability/monitoring.html
  guides/observability/observability.html
  guides/observability/tracing.html
  guides/prompt_guard.html
  index.html
  resources/configuration_reference.html
  search.html
Due: none

fix some bugs
  chatbot_ui/app/run.py
  crates/prompt_gateway/src/stream_context.rs
  demos/function_calling/api_server/app/main.py
  model_server/app/main.py
Due: cargo-fmt, cargo-clippy, cargo-test, python-tests

fix comments
  chatbot_ui/app/run.py
Due: python-tests

fix more
  chatbot_ui/.vscode/launch.json
  chatbot_ui/Dockerfile
  chatbot_ui/arch_util.py
  chatbot_ui/run.py
  chatbot_ui/run_stream.py
Due: python-tests
