Repository katanemo/arch: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-test, python-tests

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-yaml
        exclude: arch/envoy.template*
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: local
    hooks:

      - id: cargo-fmt
        name: cargo-fmt
        language: system
        types: [file, rust]
        entry: bash -c "cd crates/llm_gateway && cargo fmt -- --check"

      - id: cargo-clippy
        name: cargo-clippy
        language: system
        types: [file, rust]
        entry: bash -c "cd crates/llm_gateway && cargo clippy --all"

      - id: cargo-test
        name: cargo-test
        language: system
        types: [file, rust]
        # --lib is to only test the library, since when integration tests are made,
        # they will be in a seperate tests directory
        entry: bash -c "cd crates/llm_gateway && cargo test --lib"
      - id: python-tests
        name: Run Python Tests with pytest
        language: system
        entry: bash -c "cd model_server && pytest --maxfail=5 --disable-warnings"
        types: [python]


  - repo: https://github.com/psf/black
    rev: 23.1.0
    hooks:
      - id: black
        language_version: python3

add more hallucination test case
  crates/prompt_gateway/src/hallucination.rs
Due: cargo-fmt, cargo-clippy, cargo-test

improve logging
  crates/common/src/consts.rs
  crates/common/src/http.rs
  crates/prompt_gateway/src/context.rs
  crates/prompt_gateway/src/http_context.rs
  crates/prompt_gateway/src/stream_context.rs
Due: cargo-fmt, cargo-clippy, cargo-test

fix int tests
  crates/prompt_gateway/tests/integration.rs
Due: cargo-fmt, cargo-clippy, cargo-test

better
  crates/prompt_gateway/src/context.rs
  crates/prompt_gateway/src/stream_context.rs
Due: cargo-fmt, cargo-clippy, cargo-test

fix more logs
  crates/prompt_gateway/src/stream_context.rs
  crates/prompt_gateway/tests/integration.rs
Due: cargo-fmt, cargo-clippy, cargo-test

fix more
  crates/prompt_gateway/src/http_context.rs
Due: cargo-fmt, cargo-clippy, cargo-test

fix int
  crates/common/src/consts.rs
  crates/prompt_gateway/src/stream_context.rs
  crates/prompt_gateway/tests/integration.rs
Due: cargo-fmt, cargo-clippy, cargo-test

Improve logging (#209)
  crates/common/src/consts.rs
  crates/common/src/http.rs
  crates/prompt_gateway/src/context.rs
  crates/prompt_gateway/src/http_context.rs
  crates/prompt_gateway/src/stream_context.rs
  crates/prompt_gateway/tests/integration.rs
Due: cargo-fmt, cargo-clippy, cargo-test

deploy: ea76d85b436865c5ce60c43ba8b3d1c85a0bd81a
  build_with_arch/agent.html
  build_with_arch/rag.html
  concepts/llm_provider.html
  concepts/prompt_target.html
  concepts/tech_overview/error_target.html
  concepts/tech_overview/listener.html
  concepts/tech_overview/model_serving.html
  concepts/tech_overview/prompt.html
  concepts/tech_overview/request_lifecycle.html
  concepts/tech_overview/tech_overview.html
  concepts/tech_overview/terminology.html
  concepts/tech_overview/threading_model.html
  get_started/intro_to_arch.html
  get_started/overview.html
  get_started/quickstart.html
  guides/function_calling.html
  guides/observability/access_logging.html
  guides/observability/monitoring.html
  guides/observability/observability.html
  guides/observability/tracing.html
  guides/prompt_guard.html
  index.html
  resources/configuration_reference.html
  search.html
Due: none

add long example
  crates/prompt_gateway/src/hallucination.rs
Due: cargo-fmt, cargo-clippy, cargo-test

pretty_eq
  crates/Cargo.lock
  crates/prompt_gateway/Cargo.toml
  crates/prompt_gateway/src/hallucination.rs
Due: cargo-fmt, cargo-clippy, cargo-test

Cotran/hallucination (#208)
  crates/Cargo.lock
  crates/prompt_gateway/Cargo.toml
  crates/prompt_gateway/src/hallucination.rs
Due: cargo-fmt, cargo-clippy, cargo-test

committing to merge with main
  demos/hr_agent/Dockerfile
  demos/hr_agent/arch_config.yaml
  demos/hr_agent/docker-compose.yaml
  demos/hr_agent/main.py
  demos/hr_agent/requirements.txt
  demos/hr_agent/workforce_data.json
Due: python-tests

updating to merge from main
  demos/hr_agent/arch_config.yaml
Due: none

updated key name
  crates/common/src/consts.rs
  crates/prompt_gateway/src/stream_context.rs
Due: cargo-fmt, cargo-clippy, cargo-test

updating the demo and model-server-tests to pull from poetry
  .github/workflows/model-server-tests.yml
  demos/hr_agent/arch_config.yaml
  demos/hr_agent/main.py
Due: python-tests

latest
  crates/common/src/common_types.rs
  crates/common/src/errors.rs
  crates/llm_gateway/src/stream_context.rs
Due: cargo-fmt, cargo-clippy, cargo-test

updating the poetry.lock files
  arch/tools/poetry.lock
  arch/tools/pyproject.toml
  model_server/poetry.lock
Due: none

updating based on feedback
  demos/hr_agent/docker-compose.yaml
  demos/hr_agent/main.py
Due: python-tests

updated sysmte prompt for hr_agent
  demos/hr_agent/arch_config.yaml
Due: none

HR agent demo (#206)
  .github/workflows/model-server-tests.yml
  arch/tools/.vscode/settings.json
  arch/tools/poetry.lock
  arch/tools/pyproject.toml
  chatbot_ui/.vscode/settings.json
  demos/hr_agent/Dockerfile
  demos/hr_agent/arch_config.yaml
  demos/hr_agent/docker-compose.yaml
  demos/hr_agent/main.py
  demos/hr_agent/requirements.txt
  demos/hr_agent/run_demo.sh
  demos/hr_agent/workforce_data.json
  model_server/.vscode/launch.json
  model_server/.vscode/settings.json
  model_server/app/cli.py
  model_server/app/function_calling/model_utils.py
  model_server/poetry.lock
  model_server/pyproject.toml
  model_server/requirements.txt
Due: python-tests

deploy: 708fa15a9be6ffbb5aa42ee47c35ce4ea22a6946
  build_with_arch/agent.html
  build_with_arch/rag.html
  concepts/llm_provider.html
  concepts/prompt_target.html
  concepts/tech_overview/error_target.html
  concepts/tech_overview/listener.html
  concepts/tech_overview/model_serving.html
  concepts/tech_overview/prompt.html
  concepts/tech_overview/request_lifecycle.html
  concepts/tech_overview/tech_overview.html
  concepts/tech_overview/terminology.html
  concepts/tech_overview/threading_model.html
  get_started/intro_to_arch.html
  get_started/overview.html
  get_started/quickstart.html
  guides/function_calling.html
  guides/observability/access_logging.html
  guides/observability/monitoring.html
  guides/observability/observability.html
  guides/observability/tracing.html
  guides/prompt_guard.html
  index.html
  resources/configuration_reference.html
  search.html
Due: none

fixing discord link and moving contributing guide to root
  CONTRIBUTING.md
  README.md
Due: none

fix black
  model_server/app/cli.py
Due: python-tests

fix model server stop process
  model_server/app/cli.py
Due: python-tests

replace
  model_server/app/cli.py
Due: python-tests

fixing discord link and moving contributing guide to root (#215)
  CONTRIBUTING.md
  README.md
Due: none

update chatbot UI
  chatbot_ui/app/run.py
  chatbot_ui/requirements.txt
  demos/function_calling/docker-compose.yaml
Due: python-tests

Update docker-compose for demos
  demos/hr_agent/docker-compose.yaml
  demos/insurance_agent/docker-compose.yaml
  demos/network_agent/docker-compose.yaml
Due: none

Fix bugs
  chatbot_ui/app/run.py
Due: python-tests

fix for emtadata
  crates/prompt_gateway/src/stream_context.rs
Due: cargo-fmt, cargo-clippy, cargo-test

fix
  crates/common/src/consts.rs
  crates/prompt_gateway/src/hallucination.rs
  crates/prompt_gateway/src/stream_context.rs
Due: cargo-fmt, cargo-clippy, cargo-test

fix for emtadata (#219)
  crates/common/src/consts.rs
  crates/prompt_gateway/src/hallucination.rs
  crates/prompt_gateway/src/stream_context.rs
Due: cargo-fmt, cargo-clippy, cargo-test

docs: update README.md
  README.md
Due: none

docs: update README.md (#220)
  README.md
Due: none

deploy: 87ce0b1be023aa96fbfd0e8a4407725210c70231
  build_with_arch/agent.html
  build_with_arch/rag.html
  concepts/llm_provider.html
  concepts/prompt_target.html
  concepts/tech_overview/error_target.html
  concepts/tech_overview/listener.html
  concepts/tech_overview/model_serving.html
  concepts/tech_overview/prompt.html
  concepts/tech_overview/request_lifecycle.html
  concepts/tech_overview/tech_overview.html
  concepts/tech_overview/terminology.html
  concepts/tech_overview/threading_model.html
  get_started/intro_to_arch.html
  get_started/overview.html
  get_started/quickstart.html
  guides/function_calling.html
  guides/observability/access_logging.html
  guides/observability/monitoring.html
  guides/observability/observability.html
  guides/observability/tracing.html
  guides/prompt_guard.html
  index.html
  resources/configuration_reference.html
  search.html
Due: none

updated key name (#211)
  crates/common/src/consts.rs
  crates/prompt_gateway/src/stream_context.rs
Due: cargo-fmt, cargo-clippy, cargo-test

updates
  arch/Dockerfile
  arch/build_filter_image.sh
  arch/docker-compose.dev.yaml
  arch/docker-compose.yaml
  arch/envoy.template.yaml
  chatbot_ui/.vscode/launch.json
  crates/common/src/common_types.rs
  crates/llm_gateway/src/stream_context.rs
  crates/prompt_gateway/src/hallucination.rs
  crates/prompt_gateway/src/http_context.rs
  demos/function_calling/arch_config.yaml
Due: cargo-fmt, cargo-clippy, cargo-test

add test
  model_server/app/tests/test_cli_stop_server.py
Due: python-tests
