Repository katanemo/arch: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-test, python-tests

cargo-fmt:
  name: cargo-fmt
  language: system
  entry: bash -c "cd crates/llm_gateway && cargo fmt -- --check"

cargo-clippy:
  name: cargo-clippy
  language: system
  entry: bash -c "cd crates/llm_gateway && cargo clippy --all"

cargo-test:
  name: cargo-test
  language: system
  entry: bash -c "cd crates/llm_gateway && cargo test --lib"

python-tests:
  name: Run Python Tests with pytest
  language: system
  entry: bash -c "cd model_server && pytest --maxfail=5 --disable-warnings"

revert
  chatbot_ui/app/run.py
  crates/common/src/consts.rs
  crates/prompt_gateway/src/stream_context.rs
Due: cargo-fmt, cargo-clippy, cargo-test, python-tests

merge main
  chatbot_ui/app/run.py
Due: python-tests

add multiple pids test
  model_server/app/tests/test_cli_stop_server.py
Due: python-tests

Update chatbot UI and update hallucination check (#218)
  chatbot_ui/app/run.py
  chatbot_ui/requirements.txt
  crates/common/src/consts.rs
  crates/prompt_gateway/src/hallucination.rs
  crates/prompt_gateway/src/stream_context.rs
  demos/function_calling/docker-compose.yaml
  demos/hr_agent/docker-compose.yaml
  demos/insurance_agent/docker-compose.yaml
  demos/network_agent/docker-compose.yaml
Due: cargo-fmt, cargo-clippy, cargo-test, python-tests

deploy: 5f3aff49221105c52e57c4055e68046f21a14960
  .buildinfo
  _static/basic.css
  _static/doctools.js
  _static/language_data.js
  _static/searchtools.js
  build_with_arch/agent.html
  build_with_arch/rag.html
  concepts/llm_provider.html
  concepts/prompt_target.html
  concepts/tech_overview/error_target.html
  concepts/tech_overview/listener.html
  concepts/tech_overview/model_serving.html
  concepts/tech_overview/prompt.html
  concepts/tech_overview/request_lifecycle.html
  concepts/tech_overview/tech_overview.html
  concepts/tech_overview/terminology.html
  concepts/tech_overview/threading_model.html
  get_started/intro_to_arch.html
  get_started/overview.html
  get_started/quickstart.html
  guides/function_calling.html
  guides/observability/access_logging.html
  guides/observability/monitoring.html
  guides/observability/observability.html
  guides/observability/tracing.html
  guides/prompt_guard.html
  index.html
  resources/configuration_reference.html
  search.html
  searchindex.js
Due: none

fixed typos in arch_config.yaml file based on issue #221
  README.md
Due: none

fixed typos in arch_config.yaml file based on issue #221 (#223)
  README.md
Due: none

add check install for linux
  model_server/app/cli.py
Due: python-tests

reformat
  model_server/app/cli.py
  model_server/app/tests/test_cli_stop_server.py
Due: python-tests

more updates
  arch/arch_config_schema.yaml
  arch/docker-compose.dev.yaml
  arch/tools/cli/config_generator.py
  chatbot_ui/app/run_stream.py
  crates/common/src/common_types.rs
  crates/common/src/configuration.rs
  crates/common/src/tokenizer.rs
  crates/llm_gateway/src/stream_context.rs
  crates/prompt_gateway/src/filter_context.rs
  demos/llm_routing/arch_config.yaml
  demos/llm_routing/docker-compose.yaml
Due: cargo-fmt, cargo-clippy, cargo-test, python-tests

fix more
  chatbot_ui/.vscode/launch.json
  chatbot_ui/app/arch_util.py
  chatbot_ui/app/run.py
  crates/common/src/common_types.rs
  crates/common/src/consts.rs
  crates/prompt_gateway/src/hallucination.rs
  crates/prompt_gateway/src/http_context.rs
  crates/prompt_gateway/src/stream_context.rs
  demos/llm_routing/arch_config.yaml
  demos/llm_routing/docker-compose.yaml
Due: cargo-fmt, cargo-clippy, cargo-test, python-tests

add compression/decompression
  arch/envoy.template.yaml
  chatbot_ui/app/run.py
Due: python-tests

add README for hr_agent
  demos/hr_agent/README.md
Due: none

fixed sample prompt for hr_agent in README
  demos/hr_agent/README.md
Due: none

added screenshot and updated README.md
  demos/hr_agent/README.md
  demos/hr_agent/image.png
Due: none

add README for hr_agent (#224)
  demos/hr_agent/README.md
  demos/hr_agent/image.png
Due: none

deploy: ff6e9bd9bdd3ab83930ebe993c3275917bb83c27
  build_with_arch/agent.html
  build_with_arch/rag.html
  concepts/llm_provider.html
  concepts/prompt_target.html
  concepts/tech_overview/error_target.html
  concepts/tech_overview/listener.html
  concepts/tech_overview/model_serving.html
  concepts/tech_overview/prompt.html
  concepts/tech_overview/request_lifecycle.html
  concepts/tech_overview/tech_overview.html
  concepts/tech_overview/terminology.html
  concepts/tech_overview/threading_model.html
  get_started/intro_to_arch.html
  get_started/overview.html
  get_started/quickstart.html
  guides/function_calling.html
  guides/observability/access_logging.html
  guides/observability/monitoring.html
  guides/observability/observability.html
  guides/observability/tracing.html
  guides/prompt_guard.html
  index.html
  resources/configuration_reference.html
  search.html
Due: none

fix model server stop process (#217)
  model_server/app/cli.py
  model_server/app/tests/test_cli_stop_server.py
Due: python-tests

fixed typos in intro to arch docs
  docs/source/get_started/intro_to_arch.rst
Due: none

fixed typos in intro to arch docs (#225)
  docs/source/get_started/intro_to_arch.rst
Due: none

deploy: 29ff8da60f5f0b54da65fc1eec6c19d7d94ba83e
  build_with_arch/agent.html
  build_with_arch/rag.html
  concepts/llm_provider.html
  concepts/prompt_target.html
  concepts/tech_overview/error_target.html
  concepts/tech_overview/listener.html
  concepts/tech_overview/model_serving.html
  concepts/tech_overview/prompt.html
  concepts/tech_overview/request_lifecycle.html
  concepts/tech_overview/tech_overview.html
  concepts/tech_overview/terminology.html
  concepts/tech_overview/threading_model.html
  get_started/intro_to_arch.html
  get_started/overview.html
  get_started/quickstart.html
  guides/function_calling.html
  guides/observability/access_logging.html
  guides/observability/monitoring.html
  guides/observability/observability.html
  guides/observability/tracing.html
  guides/prompt_guard.html
  index.html
  resources/configuration_reference.html
  search.html
  searchindex.js
Due: none

add e2e tests
  .github/workflows/e2e_tests.yml
  arch/envoy.template.yaml
  archgw.code-workspace
  chatbot_ui/app/run.py
  crates/common/src/common_types.rs
  crates/common/src/consts.rs
  crates/llm_gateway/src/stream_context.rs
  crates/prompt_gateway/src/http_context.rs
  crates/prompt_gateway/src/stream_context.rs
  demos/function_calling/arch_config.yaml
  demos/function_calling/docker-compose.yaml
  e2e_tests/.vscode/settings.json
  e2e_tests/common.py
  e2e_tests/common_scripts.sh
  e2e_tests/poetry.lock
  e2e_tests/pyproject.toml
  e2e_tests/run_e2e_tests.sh
  e2e_tests/test_llm_gateway.py
  e2e_tests/test_prompt_gateway.py
Due: cargo-fmt, cargo-clippy, cargo-test, python-tests

rename
  .github/workflows/e2e_tests.yml
Due: none

fix more
  .github/workflows/e2e_tests.yml
Due: none

fix more
  e2e_tests/run_e2e_tests.sh
Due: none

source
  e2e_tests/run_e2e_tests.sh
Due: none

remove source cmd line
  e2e_tests/run_e2e_tests.sh
Due: none

fix more
  e2e_tests/common_scripts.sh
  e2e_tests/run_e2e_tests.sh
Due: none

replace pushd with cd
  e2e_tests/run_e2e_tests.sh
Due: none

use poetry to start model server
  e2e_tests/run_e2e_tests.sh
Due: none

add readme
  e2e_tests/README.md
Due: none

use usual docker file
  e2e_tests/run_e2e_tests.sh
Due: none

more fixes
  arch/docker-compose.yaml
  e2e_tests/run_e2e_tests.sh
Due: none

verified filter
  e2e_tests/run_e2e_tests.sh
Due: none

log
  e2e_tests/run_e2e_tests.sh
Due: none

use bash
  .github/workflows/e2e_tests.yml
  e2e_tests/common_scripts.sh
  e2e_tests/run_e2e_tests.sh
Due: none

fix path
  arch/docker-compose.yaml
Due: none

fix spelling
  arch/docker-compose.yaml
Due: none

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-test: any of: \.rs$
  python-tests: any of: \.py$
