Repository katanemo/arch: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-test, python-tests

cargo-fmt:
  name: cargo-fmt
  language: system
  entry: bash -c "cd crates/llm_gateway && cargo fmt -- --check"

cargo-clippy:
  name: cargo-clippy
  language: system
  entry: bash -c "cd crates/llm_gateway && cargo clippy --all"

cargo-test:
  name: cargo-test
  language: system
  entry: bash -c "cd crates/llm_gateway && cargo test --lib"

python-tests:
  name: Run Python Tests with pytest
  language: system
  entry: bash -c "cd model_server && pytest --maxfail=5 --disable-warnings"

fix rust tests
  crates/prompt_gateway/tests/integration.rs
Due: cargo-fmt, cargo-clippy, cargo-test

update template
  docs/source/resources/includes/arch_config_full_reference.yaml
Due: none

Break apart common_types mod
  crates/common/src/api/hallucination.rs
  crates/common/src/api/mod.rs
  crates/common/src/api/open_ai.rs
  crates/common/src/api/prompt_guard.rs
  crates/common/src/api/zero_shot.rs
  crates/common/src/common_types.rs
  crates/common/src/configuration.rs
  crates/common/src/errors.rs
  crates/common/src/lib.rs
  crates/llm_gateway/src/stream_context.rs
  crates/prompt_gateway/src/embeddings.rs
  crates/prompt_gateway/src/filter_context.rs
  crates/prompt_gateway/src/http_context.rs
  crates/prompt_gateway/src/lib.rs
  crates/prompt_gateway/src/stream_context.rs
  crates/prompt_gateway/tests/integration.rs
Due: cargo-fmt, cargo-clippy, cargo-test

Break apart metrics into their own module
  crates/common/src/stats.rs
  crates/llm_gateway/src/filter_context.rs
  crates/llm_gateway/src/lib.rs
  crates/llm_gateway/src/metrics.rs
  crates/llm_gateway/src/stream_context.rs
  crates/prompt_gateway/src/filter_context.rs
  crates/prompt_gateway/src/lib.rs
  crates/prompt_gateway/src/metrics.rs
  crates/prompt_gateway/src/stream_context.rs
Due: cargo-fmt, cargo-clippy, cargo-test

Revert changes to end behavior
  demos/weather_forecast/run_demo.sh
Due: none

fix silly formatting mistake
  demos/weather_forecast/run_demo.sh
Due: none

Update Arch-Guard and corresponding e2e test
  e2e_tests/api_model_server.rest
  model_server/app/model_handler/guardrails.py
Due: python-tests

322 add support for pydantic logfire for llm agent tracing (#329)
  demos/shared/logfire/Dockerfile
  demos/shared/logfire/otel-collector-config.yaml
  demos/weather_forecast/Dockerfile
  demos/weather_forecast/README.md
  demos/weather_forecast/docker-compose-jaeger.yaml
  demos/weather_forecast/docker-compose-logfire.yaml
  demos/weather_forecast/docker-compose-signoz.yaml
  demos/weather_forecast/main.py
  demos/weather_forecast/poetry.lock
  demos/weather_forecast/pyproject.toml
  demos/weather_forecast/run_demo.sh
  demos/weather_forecast_signoz/README.md
  demos/weather_forecast_signoz/arch_config.yaml
  demos/weather_forecast_signoz/run_demo.sh
Due: python-tests

docs: update README.md (#332)
  README.md
Due: none

deploy: 885acc899f6a1daf3e87de7aaccdb9b362c7e19f
  build_with_arch/agent.html
  build_with_arch/rag.html
  concepts/llm_provider.html
  concepts/prompt_target.html
  concepts/tech_overview/error_target.html
  concepts/tech_overview/listener.html
  concepts/tech_overview/model_serving.html
  concepts/tech_overview/prompt.html
  concepts/tech_overview/request_lifecycle.html
  concepts/tech_overview/tech_overview.html
  concepts/tech_overview/terminology.html
  concepts/tech_overview/threading_model.html
  get_started/intro_to_arch.html
  get_started/overview.html
  get_started/quickstart.html
  guides/function_calling.html
  guides/observability/access_logging.html
  guides/observability/monitoring.html
  guides/observability/observability.html
  guides/observability/tracing.html
  guides/prompt_guard.html
  index.html
  resources/configuration_reference.html
  search.html
Due: none

README fix
  demos/weather_forecast/README.md
Due: none

add missing colon
  demos/weather_forecast/README.md
Due: none

fix the README for the weather_forecasting demo (#336)
  demos/weather_forecast/README.md
Due: none

Update `ArchBaseHandler`
  model_server/app/model_handler/base_handler.py
Due: python-tests

Update the logic of intent detection
  model_server/app/main.py
  model_server/app/model_handler/function_calling.py
Due: python-tests

add else
  model_server/app/model_handler/function_calling.py
Due: python-tests

update getting started guide and add llm gateway and prompt gateway samples (#330)
  README.md
  arch/arch_config_schema.yaml
  arch/envoy.template.yaml
  arch/tools/cli/config_generator.py
  arch/tools/cli/core.py
  arch/tools/cli/main.py
  crates/common/src/configuration.rs
  crates/common/src/lib.rs
  crates/common/src/path.rs
  crates/prompt_gateway/src/stream_context.rs
  crates/prompt_gateway/tests/integration.rs
  demos/currency_exchange/README.md
  demos/currency_exchange/arch_config.yaml
  demos/currency_exchange/docker-compose.yaml
  demos/currency_exchange/run_demo.sh
  demos/hr_agent/arch_config.yaml
  demos/insurance_agent/arch_config.yaml
  demos/network_agent/arch_config.yaml
  demos/weather_forecast/arch_config.yaml
  docs/source/guides/includes/arch_config.yaml
  docs/source/resources/includes/arch_config_full_reference.yaml
  model_server/app/main.py
  model_server/poetry.lock
  model_server/pyproject.toml
Due: cargo-fmt, cargo-clippy, cargo-test, python-tests

deploy: a54db1a098ecd8814e975fac5910cc60e33ad6af
  _downloads/ca9d3b7116524473d8adbde7cf15d167/arch_config_full_reference.yaml
  resources/configuration_reference.html
  searchindex.js
Due: none

update quick start rst to be in sync with readme.md
  docs/source/get_started/includes/quickstart.yaml
  docs/source/get_started/quickstart.rst
Due: none

update cli to 0.1.6
  arch/tools/README.md
  arch/tools/poetry.lock
  arch/tools/pyproject.toml
  e2e_tests/run_e2e_tests.sh
  model_server/poetry.lock
  model_server/pyproject.toml
Due: none

update quick start rst to be in sync with readme.md (#337)
  docs/source/get_started/includes/quickstart.yaml
  docs/source/get_started/quickstart.rst
Due: none

deploy: c186c3dfc0aad8a3da3c71e38576c46cee99ee2a
  build_with_arch/agent.html
  build_with_arch/rag.html
  concepts/llm_provider.html
  concepts/prompt_target.html
  concepts/tech_overview/error_target.html
  concepts/tech_overview/listener.html
  concepts/tech_overview/model_serving.html
  concepts/tech_overview/prompt.html
  concepts/tech_overview/request_lifecycle.html
  concepts/tech_overview/tech_overview.html
  concepts/tech_overview/terminology.html
  concepts/tech_overview/threading_model.html
  get_started/intro_to_arch.html
  get_started/overview.html
  get_started/quickstart.html
  guides/function_calling.html
  guides/observability/access_logging.html
  guides/observability/monitoring.html
  guides/observability/observability.html
  guides/observability/tracing.html
  guides/prompt_guard.html
  index.html
  resources/configuration_reference.html
  search.html
  searchindex.js
Due: none

sync with main
  README.md
  docs/source/get_started/quickstart.rst
Due: none

update
  arch/tools/poetry.lock
Due: none

update readme
  arch/tools/README.md
Due: none

update cli to 0.1.6 (#338)
  README.md
  arch/tools/README.md
  arch/tools/poetry.lock
  arch/tools/pyproject.toml
  docs/source/get_started/quickstart.rst
  e2e_tests/run_e2e_tests.sh
  model_server/poetry.lock
  model_server/pyproject.toml
Due: none

deploy: af0e7d178b5fa59984f4b3dc59268b24c68fcfa3
  get_started/quickstart.html
  searchindex.js
Due: none

integrate hallucination
  model_server/app/model_handler/function_calling.py
  model_server/app/model_handler/hallucination_handler.py
  model_server/app/tests/test.ipynb
Due: python-tests

remove test
  model_server/app/tests/test.ipynb
Due: none

filter out healthz
  demos/shared/logfire/otel-collector-config.yaml
Due: none

pending
  demos/shared/logfire/otel-collector-config.yaml
  demos/weather_forecast/docker-compose-logfire.yaml
  demos/weather_forecast/run_demo.sh
Due: none

fix code bug
  demos/weather_forecast/docker-compose-logfire.yaml
  demos/weather_forecast/docker-compose-signoz.yaml
  demos/weather_forecast/run_demo.sh
Due: none

fix code bug (#340)
  demos/weather_forecast/docker-compose-logfire.yaml
  demos/weather_forecast/docker-compose-signoz.yaml
  demos/weather_forecast/run_demo.sh
Due: none

deploy: 93d3d349a2fcbfe0cb9ac2981a02fe0ff40a24e5
  build_with_arch/agent.html
  build_with_arch/rag.html
  concepts/llm_provider.html
  concepts/prompt_target.html
  concepts/tech_overview/error_target.html
  concepts/tech_overview/listener.html
  concepts/tech_overview/model_serving.html
  concepts/tech_overview/prompt.html
  concepts/tech_overview/request_lifecycle.html
  concepts/tech_overview/tech_overview.html
  concepts/tech_overview/terminology.html
  concepts/tech_overview/threading_model.html
  get_started/intro_to_arch.html
  get_started/overview.html
  get_started/quickstart.html
  guides/function_calling.html
  guides/observability/access_logging.html
  guides/observability/monitoring.html
  guides/observability/observability.html
  guides/observability/tracing.html
  guides/prompt_guard.html
  index.html
  resources/configuration_reference.html
  search.html
Due: none

Break apart common_types mod (#334)
  crates/common/src/api/hallucination.rs
  crates/common/src/api/mod.rs
  crates/common/src/api/open_ai.rs
  crates/common/src/api/prompt_guard.rs
  crates/common/src/api/zero_shot.rs
  crates/common/src/common_types.rs
  crates/common/src/configuration.rs
  crates/common/src/errors.rs
  crates/common/src/lib.rs
  crates/llm_gateway/src/stream_context.rs
  crates/prompt_gateway/src/embeddings.rs
  crates/prompt_gateway/src/filter_context.rs
  crates/prompt_gateway/src/http_context.rs
  crates/prompt_gateway/src/lib.rs
  crates/prompt_gateway/src/stream_context.rs
  crates/prompt_gateway/tests/integration.rs
Due: cargo-fmt, cargo-clippy, cargo-test

Cotran/intent (#339)
  model_server/app/model_handler/function_calling.py
  model_server/app/model_handler/hallucination_handler.py
Due: python-tests

Reorganize model_server
  model_server/.vscode/launch.json
  model_server/src/__init__.py
  model_server/src/cli.py
  model_server/src/commons/__init__.py
  model_server/src/commons/constants.py
  model_server/src/commons/globals.py
  model_server/src/commons/utilities.py
  model_server/src/core/__init__.py
  model_server/src/core/base_handler.py
  model_server/src/core/function_calling.py
  model_server/src/core/guardrails.py
  model_server/src/core/hallucination_handler.py
  model_server/src/main.py
  model_server/tests/__init__.py
  model_server/tests/core/test_function_calling.py
  model_server/tests/core/test_guardrails.py
  model_server/tests/core/test_hallucination.py
  model_server/tests/core/test_state.py
  model_server/tests/test_app.py
  model_server/tests/test_cli_stop_server.py
Due: python-tests

Update cli and related utils
  model_server/src/cli.py
  model_server/src/commons/globals.py
  model_server/src/commons/utilities.py
  model_server/src/commons/utils.py
  model_server/src/core/guardrails.py
  model_server/tests/test_app.py
Due: python-tests

Refacotr model configs
  model_server/src/cli.py
  model_server/src/commons/constants.py
  model_server/src/commons/globals.py
  model_server/src/commons/utils.py
  model_server/src/core/function_calling.py
  model_server/src/core/guardrails.py
  model_server/src/core/model_utils.py
  model_server/src/main.py
  model_server/tests/core/__init__.py
  model_server/tests/core/test_cases.json
  model_server/tests/core/test_function_calling.py
  model_server/tests/core/test_guardrails.py
Due: python-tests

Update `ArchFunctionHandler`
  model_server/src/core/function_calling.py
Due: python-tests

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-test: any of: \.rs$
  python-tests: any of: \.py$
