Repository katanemo/arch: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-test, python-tests

cargo-fmt:
  name: cargo-fmt
  language: system
  entry: bash -c "cd crates/llm_gateway && cargo fmt -- --check"

cargo-clippy:
  name: cargo-clippy
  language: system
  entry: bash -c "cd crates/llm_gateway && cargo clippy --all"

cargo-test:
  name: cargo-test
  language: system
  entry: bash -c "cd crates/llm_gateway && cargo test --lib"

python-tests:
  name: Run Python Tests with pytest
  language: system
  entry: bash -c "cd model_server && pytest --maxfail=5 --disable-warnings"

fix path
  crates/common/src/consts.rs
  crates/llm_gateway/src/filter_context.rs
Due: cargo-fmt, cargo-clippy, cargo-test

fix log
  crates/llm_gateway/src/filter_context.rs
Due: cargo-fmt, cargo-clippy, cargo-test

remove dead code
  crates/llm_gateway/src/stream_context.rs
Due: cargo-fmt, cargo-clippy, cargo-test

remove dead code
  crates/llm_gateway/src/filter_context.rs
Due: cargo-fmt, cargo-clippy, cargo-test

fix more
  crates/common/src/tracing.rs
  crates/llm_gateway/src/filter_context.rs
  crates/llm_gateway/src/stream_context.rs
Due: cargo-fmt, cargo-clippy, cargo-test

fix path
  crates/common/src/consts.rs
Due: cargo-fmt, cargo-clippy, cargo-test

fix int tests
  crates/llm_gateway/tests/integration.rs
Due: cargo-fmt, cargo-clippy, cargo-test

publish docker image
  .github/workflows/docker-push.yml
Due: none

fix path
  .github/workflows/docker-push.yml
Due: none

add comments
  .github/workflows/docker-push.yml
Due: none

use envoy to publish traces (#270)
  arch/Dockerfile
  arch/envoy.template.yaml
  arch/stream_traces.py
  arch/supervisord.conf
  archgw.code-workspace
  crates/common/src/consts.rs
  crates/common/src/tracing.rs
  crates/llm_gateway/src/filter_context.rs
  crates/llm_gateway/src/stream_context.rs
  crates/llm_gateway/tests/integration.rs
Due: cargo-fmt, cargo-clippy, cargo-test, python-tests

publish docker image (#283)
  .github/workflows/docker-push.yml
Due: none

deploy: 36489b4adcd36a7ce62a875d415a4776f2b6d032
  build_with_arch/agent.html
  build_with_arch/rag.html
  concepts/llm_provider.html
  concepts/prompt_target.html
  concepts/tech_overview/error_target.html
  concepts/tech_overview/listener.html
  concepts/tech_overview/model_serving.html
  concepts/tech_overview/prompt.html
  concepts/tech_overview/request_lifecycle.html
  concepts/tech_overview/tech_overview.html
  concepts/tech_overview/terminology.html
  concepts/tech_overview/threading_model.html
  get_started/intro_to_arch.html
  get_started/overview.html
  get_started/quickstart.html
  guides/function_calling.html
  guides/observability/access_logging.html
  guides/observability/monitoring.html
  guides/observability/observability.html
  guides/observability/tracing.html
  guides/prompt_guard.html
  index.html
  resources/configuration_reference.html
  search.html
Due: none

publish docker image on release only
  .github/workflows/docker-push.yml
Due: none

publish docker image on release only (#284)
  .github/workflows/docker-push.yml
Due: none

updating readme and docs with note about Arch-Function
  README.md
  www/index.html
Due: none

minor fixes to README
  README.md
Due: none

a few more minor updates to the README
  README.md
Due: none

updating readme and docs with note about Arch-Function (#285)
  README.md
  www/index.html
Due: none

Remove blanket unused imports from the common crate
  crates/common/src/common_types.rs
  crates/common/src/configuration.rs
  crates/common/src/embeddings/create_embedding_request_input.rs
  crates/common/src/embeddings/create_embedding_response_usage.rs
  crates/common/src/embeddings/embedding.rs
  crates/common/src/errors.rs
  crates/common/src/http.rs
  crates/common/src/lib.rs
  crates/common/src/tracing.rs
Due: cargo-fmt, cargo-clippy, cargo-test

updatE
  crates/prompt_gateway/src/http_context.rs
Due: cargo-fmt, cargo-clippy, cargo-test

new implemenetation
  model_server/app/commons/constants.py
  model_server/app/function_calling/hallucination_handler.py
  model_server/app/tests/test_hallucination.py
Due: python-tests

fix bug
  model_server/app/commons/constants.py
  model_server/app/function_calling/hallucination_handler.py
Due: python-tests

fix bug
  model_server/app/tests/test_cases.json
Due: none

fix bug
  model_server/app/commons/constants.py
  model_server/app/tests/test_cases.json
  model_server/app/tests/test_hallucination.py
Due: python-tests

address issue
  model_server/app/function_calling/hallucination_handler.py
Due: python-tests

address issues
  model_server/app/function_calling/hallucination_handler.py
  model_server/app/tests/test_hallucination.py
Due: python-tests

update readme with python version
  README.md
Due: none

use fix prompt guards
  arch/arch_config_schema.yaml
  arch/build_filter_image.sh
  build_filter_image.sh
  demos/weather_forecast/arch_config.yaml
Due: none

add e2e test for prompt guards
  e2e_tests/test_prompt_gateway.py
Due: python-tests

update readme with python version (#302)
  README.md
Due: none

deploy: 6f4a57b56d170ca3cae1bcff1ea305243d6b4c74
  build_with_arch/agent.html
  build_with_arch/rag.html
  concepts/llm_provider.html
  concepts/prompt_target.html
  concepts/tech_overview/error_target.html
  concepts/tech_overview/listener.html
  concepts/tech_overview/model_serving.html
  concepts/tech_overview/prompt.html
  concepts/tech_overview/request_lifecycle.html
  concepts/tech_overview/tech_overview.html
  concepts/tech_overview/terminology.html
  concepts/tech_overview/threading_model.html
  get_started/intro_to_arch.html
  get_started/overview.html
  get_started/quickstart.html
  guides/function_calling.html
  guides/observability/access_logging.html
  guides/observability/monitoring.html
  guides/observability/observability.html
  guides/observability/tracing.html
  guides/prompt_guard.html
  index.html
  resources/configuration_reference.html
  search.html
Due: none

fix
  crates/prompt_gateway/src/stream_context.rs
  e2e_tests/test_prompt_gateway.py
Due: cargo-fmt, cargo-clippy, cargo-test, python-tests

remove debug
  e2e_tests/test_prompt_gateway.py
Due: python-tests

rename var
  crates/prompt_gateway/src/stream_context.rs
Due: cargo-fmt, cargo-clippy, cargo-test

use 0.1.4
  arch/tools/poetry.lock
  arch/tools/pyproject.toml
  model_server/pyproject.toml
Due: none

make arch transparent
  crates/prompt_gateway/src/stream_context.rs
Due: cargo-fmt, cargo-clippy, cargo-test

use fix prompt guards (#303)
  arch/arch_config_schema.yaml
  arch/build_filter_image.sh
  arch/tools/poetry.lock
  arch/tools/pyproject.toml
  build_filter_image.sh
  crates/prompt_gateway/src/stream_context.rs
  demos/weather_forecast/arch_config.yaml
  e2e_tests/test_prompt_gateway.py
  model_server/pyproject.toml
Due: cargo-fmt, cargo-clippy, cargo-test, python-tests

Remove blanket unused imports from the common crate (#292)
  crates/common/src/common_types.rs
  crates/common/src/configuration.rs
  crates/common/src/embeddings/create_embedding_request_input.rs
  crates/common/src/embeddings/create_embedding_response_usage.rs
  crates/common/src/embeddings/embedding.rs
  crates/common/src/errors.rs
  crates/common/src/http.rs
  crates/common/src/lib.rs
  crates/common/src/tracing.rs
  crates/prompt_gateway/src/http_context.rs
Due: cargo-fmt, cargo-clippy, cargo-test

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-test: any of: \.rs$
  python-tests: any of: \.py$
