Repository katanemo/arch: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-test, python-tests

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-yaml
        exclude: arch/envoy.template*
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: local
    hooks:

      - id: cargo-fmt
        name: cargo-fmt
        language: system
        types: [file, rust]
        entry: bash -c "cd crates/llm_gateway && cargo fmt -- --check"

      - id: cargo-clippy
        name: cargo-clippy
        language: system
        types: [file, rust]
        entry: bash -c "cd crates/llm_gateway && cargo clippy --all"

      - id: cargo-test
        name: cargo-test
        language: system
        types: [file, rust]
        # --lib is to only test the library, since when integration tests are made,
        # they will be in a seperate tests directory
        entry: bash -c "cd crates/llm_gateway && cargo test --lib"
      - id: python-tests
        name: Run Python Tests with pytest
        language: system
        entry: bash -c "cd model_server && pytest --maxfail=5 --disable-warnings"
        types: [python]


  - repo: https://github.com/psf/black
    rev: 23.1.0
    hooks:
      - id: black
        language_version: python3

fixed bug where if archgw_process is None we didn't handle it gracefully
  arch/tools/cli/main.py
Due: python-tests

Apply suggestions from code review
  README.md
  arch/tools/cli/main.py
Due: python-tests

fixed changes based on PR
  arch/tools/cli/consts.py
  arch/tools/cli/core.py
  arch/tools/cli/main.py
Due: python-tests

fixed version not found message
  arch/tools/cli/main.py
Due: python-tests

fixed message based on PR feedback
  arch/tools/cli/main.py
Due: python-tests

adding poetry lock
  arch/tools/poetry.lock
Due: none

fixed pre-commit
  arch/tools/cli/consts.py
  arch/tools/cli/core.py
Due: python-tests

Add cargo workspace to allow rust-analyzer to work correctly
  .gitignore
  crates/Cargo.lock
  crates/Cargo.toml
Due: none

fix cli models and logs (#196)
  README.md
  arch/tools/MANIFEST.in
  arch/tools/cli/consts.py
  arch/tools/cli/core.py
  arch/tools/cli/main.py
  arch/tools/cli/utils.py
  arch/tools/poetry.lock
  arch/tools/pyproject.toml
  arch/tools/setup.py
  arch/tools/test/__init__.py
  arch/tools/test/test_cli.py
Due: python-tests

deploy: 6fb63510b38aec31a2584788272c28d027ca9de6
  build_with_arch/agent.html
  build_with_arch/rag.html
  concepts/llm_provider.html
  concepts/prompt_target.html
  concepts/tech_overview/error_target.html
  concepts/tech_overview/listener.html
  concepts/tech_overview/model_serving.html
  concepts/tech_overview/prompt.html
  concepts/tech_overview/request_lifecycle.html
  concepts/tech_overview/tech_overview.html
  concepts/tech_overview/terminology.html
  concepts/tech_overview/threading_model.html
  get_started/intro_to_arch.html
  get_started/overview.html
  get_started/quickstart.html
  guides/function_calling.html
  guides/observability/access_logging.html
  guides/observability/monitoring.html
  guides/observability/observability.html
  guides/observability/tracing.html
  guides/prompt_guard.html
  index.html
  resources/configuration_reference.html
  search.html
Due: none

fix
  crates/Cargo.toml
  crates/llm_gateway/tests/integration.rs
Due: cargo-fmt, cargo-clippy, cargo-test

update observability and dashboards
  arch/envoy.template.yaml
  crates/common/src/consts.rs
  crates/prompt_gateway/src/prompt_filter_context.rs
  crates/prompt_gateway/src/prompt_stream_context.rs
  demos/function_calling/grafana/dashboards/envoy_overview.json
Due: cargo-fmt, cargo-clippy, cargo-test

more
  crates/prompt_gateway/tests/integration.rs
Due: cargo-fmt, cargo-clippy, cargo-test

Add cargo workspace to allow rust-analyzer to work correctly (#197)
  .gitignore
  crates/Cargo.lock
  crates/Cargo.toml
  crates/llm_gateway/tests/integration.rs
  crates/prompt_gateway/tests/integration.rs
Due: cargo-fmt, cargo-clippy, cargo-test

Update vscode workspce
  arch/tools/.vscode/settings.json
  archgw.code-workspace
  chatbot_ui/.vscode/settings.json
  model_server/.vscode/settings.json
Due: none

Code refactor and some improvements - see description (#194)
  .github/workflows/checks.yml
  crates/common/Cargo.toml
  crates/common/src/configuration.rs
  crates/common/src/consts.rs
  crates/common/src/errors.rs
  crates/common/src/http.rs
  crates/common/src/lib.rs
  crates/llm_gateway/Cargo.lock
  crates/llm_gateway/src/filter_context.rs
  crates/llm_gateway/src/lib.rs
  crates/llm_gateway/src/stream_context.rs
  crates/prompt_gateway/Cargo.lock
  crates/prompt_gateway/src/filter_context.rs
  crates/prompt_gateway/src/lib.rs
  crates/prompt_gateway/src/stream_context.rs
Due: cargo-fmt, cargo-clippy, cargo-test

Update arch Dockerfile
  arch/Dockerfile
Due: none

Update vscode workspce (#199)
  arch/tools/.vscode/settings.json
  archgw.code-workspace
  chatbot_ui/.vscode/settings.json
  model_server/.vscode/settings.json
Due: none

Send back developer error correctly (#195)
  crates/llm_gateway/src/stream_context.rs
  crates/prompt_gateway/src/stream_context.rs
  crates/prompt_gateway/tests/integration.rs
Due: cargo-fmt, cargo-clippy, cargo-test

Update arch Dockerfile (#200)
  arch/Dockerfile
Due: none

wip
  .gitignore
  README.md
  arch/Dockerfile
  arch/docker-compose.dev.yaml
  arch/stage.env
  arch/tools/MANIFEST.in
  arch/tools/cli/consts.py
  arch/tools/cli/core.py
  arch/tools/cli/main.py
  arch/tools/cli/utils.py
  arch/tools/poetry.lock
  arch/tools/pyproject.toml
  arch/tools/setup.py
  arch/tools/test/__init__.py
  arch/tools/test/test_cli.py
  chatbot_ui/Dockerfile
  chatbot_ui/app/run_stream.py
  chatbot_ui/requirements.txt
  crates/Cargo.lock
  crates/Cargo.toml
  crates/llm_gateway/src/llm_stream_context.rs
  crates/llm_gateway/tests/integration.rs
  crates/prompt_gateway/src/prompt_stream_context.rs
  crates/prompt_gateway/tests/integration.rs
Due: cargo-fmt, cargo-clippy, cargo-test, python-tests

Pass tool call and app function response back in metadata (#193)
  chatbot_ui/.vscode/launch.json
  chatbot_ui/app/run.py
  crates/common/src/common_types.rs
  crates/common/src/consts.rs
  crates/prompt_gateway/src/stream_context.rs
  crates/prompt_gateway/tests/integration.rs
  model_server/app/function_calling/model_utils.py
  model_server/app/tests/test_state.py
Due: cargo-fmt, cargo-clippy, cargo-test, python-tests

fix int tests
  crates/prompt_gateway/tests/integration.rs
Due: cargo-fmt, cargo-clippy, cargo-test

updating the HR agent config
  demos/hr_agent/arch_config.yaml
Due: none

update .dockerignore file after filter move
  .dockerignore
Due: none

update dashboard
  arch/envoy.template.yaml
  demos/function_calling/grafana/dashboards/envoy_overview.json
Due: none

pushing to remote
  demos/hr_agent/main.py
  demos/hr_agent/run_demo.sh
Due: python-tests

update observability and dashboards (#198)
  arch/envoy.template.yaml
  crates/common/src/consts.rs
  crates/prompt_gateway/src/filter_context.rs
  crates/prompt_gateway/src/stream_context.rs
  crates/prompt_gateway/tests/integration.rs
  demos/function_calling/grafana/dashboards/envoy_overview.json
Due: cargo-fmt, cargo-clippy, cargo-test

fix hr agent
  arch/tools/.vscode/settings.json
  arch/tools/poetry.lock
  arch/tools/pyproject.toml
  chatbot_ui/.vscode/settings.json
  demos/hr_agent/main.py
  model_server/.vscode/launch.json
  model_server/.vscode/settings.json
  model_server/app/cli.py
  model_server/app/function_calling/model_utils.py
  model_server/poetry.lock
  model_server/pyproject.toml
  model_server/requirements.txt
Due: python-tests

Add separate util for hallucination and add tests for it
  arch/envoy.template.yaml
  crates/prompt_gateway/src/hallucination.rs
  crates/prompt_gateway/src/lib.rs
  crates/prompt_gateway/src/stream_context.rs
Due: cargo-fmt, cargo-clippy, cargo-test

revert port
  arch/envoy.template.yaml
Due: none

Add separate util for hallucination and add tests for it (#203)
  crates/prompt_gateway/src/hallucination.rs
  crates/prompt_gateway/src/lib.rs
  crates/prompt_gateway/src/stream_context.rs
Due: cargo-fmt, cargo-clippy, cargo-test

deploy: dced8a5708ec02a0e478facb86341db70694a6cd
  build_with_arch/agent.html
  build_with_arch/rag.html
  concepts/llm_provider.html
  concepts/prompt_target.html
  concepts/tech_overview/error_target.html
  concepts/tech_overview/listener.html
  concepts/tech_overview/model_serving.html
  concepts/tech_overview/prompt.html
  concepts/tech_overview/request_lifecycle.html
  concepts/tech_overview/tech_overview.html
  concepts/tech_overview/terminology.html
  concepts/tech_overview/threading_model.html
  get_started/intro_to_arch.html
  get_started/overview.html
  get_started/quickstart.html
  guides/function_calling.html
  guides/observability/access_logging.html
  guides/observability/monitoring.html
  guides/observability/observability.html
  guides/observability/tracing.html
  guides/prompt_guard.html
  index.html
  resources/configuration_reference.html
  search.html
Due: none

refactor prompt gateway
  crates/common/src/errors.rs
  crates/common/src/http.rs
  crates/common/src/lib.rs
  crates/prompt_gateway/src/filter_context.rs
  crates/prompt_gateway/src/hallucination.rs
  crates/prompt_gateway/src/http_context.rs
  crates/prompt_gateway/src/lib.rs
  crates/prompt_gateway/src/stream_context.rs
Due: cargo-fmt, cargo-clippy, cargo-test

refactor more
  crates/prompt_gateway/src/context.rs
  crates/prompt_gateway/src/lib.rs
  crates/prompt_gateway/src/stream_context.rs
Due: cargo-fmt, cargo-clippy, cargo-test

refactor prompt gateway (#204)
  crates/common/src/errors.rs
  crates/common/src/http.rs
  crates/common/src/lib.rs
  crates/prompt_gateway/src/context.rs
  crates/prompt_gateway/src/filter_context.rs
  crates/prompt_gateway/src/hallucination.rs
  crates/prompt_gateway/src/http_context.rs
  crates/prompt_gateway/src/lib.rs
  crates/prompt_gateway/src/stream_context.rs
Due: cargo-fmt, cargo-clippy, cargo-test

deploy: 2f374df0345e61cd4917923f65c7fe942c8a2702
  build_with_arch/agent.html
  build_with_arch/rag.html
  concepts/llm_provider.html
  concepts/prompt_target.html
  concepts/tech_overview/error_target.html
  concepts/tech_overview/listener.html
  concepts/tech_overview/model_serving.html
  concepts/tech_overview/prompt.html
  concepts/tech_overview/request_lifecycle.html
  concepts/tech_overview/tech_overview.html
  concepts/tech_overview/terminology.html
  concepts/tech_overview/threading_model.html
  get_started/intro_to_arch.html
  get_started/overview.html
  get_started/quickstart.html
  guides/function_calling.html
  guides/observability/access_logging.html
  guides/observability/monitoring.html
  guides/observability/observability.html
  guides/observability/tracing.html
  guides/prompt_guard.html
  index.html
  resources/configuration_reference.html
  search.html
Due: none
