Repository katanemo/arch: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-test, python-tests

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-yaml
        exclude: arch/envoy.template*
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: local
    hooks:

      - id: cargo-fmt
        name: cargo-fmt
        language: system
        types: [file, rust]
        entry: bash -c "cd crates/llm_gateway && cargo fmt -- --check"

      - id: cargo-clippy
        name: cargo-clippy
        language: system
        types: [file, rust]
        entry: bash -c "cd crates/llm_gateway && cargo clippy --all"

      - id: cargo-test
        name: cargo-test
        language: system
        types: [file, rust]
        # --lib is to only test the library, since when integration tests are made,
        # they will be in a seperate tests directory
        entry: bash -c "cd crates/llm_gateway && cargo test --lib"
      - id: python-tests
        name: Run Python Tests with pytest
        language: system
        entry: bash -c "cd model_server && pytest --maxfail=5 --disable-warnings"
        types: [python]


  - repo: https://github.com/psf/black
    rev: 23.1.0
    hooks:
      - id: black
        language_version: python3

rename
  chatbot_ui/Dockerfile
  chatbot_ui/arch_util.py
  chatbot_ui/common.py
  chatbot_ui/run.py
  chatbot_ui/run_stream.py
Due: python-tests

add comments
  chatbot_ui/common.py
  chatbot_ui/run_stream.py
Due: python-tests

remove streaming for run.py
  chatbot_ui/run.py
Due: python-tests

move tools at the bottom and make it collapsed by default
  chatbot_ui/run.py
  chatbot_ui/run_stream.py
Due: python-tests

revert ui
  chatbot_ui/run_stream.py
Due: python-tests

fix more
  chatbot_ui/common.py
  chatbot_ui/run_stream.py
Due: python-tests

remove non-stream client
  chatbot_ui/common.py
  chatbot_ui/run.py
  chatbot_ui/run_stream.py
Due: python-tests

Improve Gradio UI and fix arch_state bug (#227)
  chatbot_ui/.vscode/launch.json
  chatbot_ui/Dockerfile
  chatbot_ui/app/arch_util.py
  chatbot_ui/app/run.py
  chatbot_ui/common.py
  chatbot_ui/run_stream.py
  crates/prompt_gateway/src/stream_context.rs
  demos/function_calling/api_server/app/main.py
  model_server/app/main.py
Due: cargo-fmt, cargo-clippy, cargo-test, python-tests

moving chatbot-ui in demos and out of root project structure
  demos/function_calling/docker-compose.yaml
  demos/hr_agent/arch_config.yaml
  demos/hr_agent/docker-compose.yaml
  demos/insurance_agent/docker-compose.yaml
  demos/network_agent/docker-compose.yaml
  demos/shared/chatbot_ui/.vscode/launch.json
  demos/shared/chatbot_ui/Dockerfile
  demos/shared/chatbot_ui/common.py
  demos/shared/chatbot_ui/requirements.txt
  demos/shared/chatbot_ui/run_stream.py
Due: python-tests

moving chatbot-ui in demos and out of root project structure (#228)
  demos/function_calling/docker-compose.yaml
  demos/hr_agent/arch_config.yaml
  demos/hr_agent/docker-compose.yaml
  demos/insurance_agent/docker-compose.yaml
  demos/network_agent/docker-compose.yaml
  demos/shared/chatbot_ui/.vscode/launch.json
  demos/shared/chatbot_ui/Dockerfile
  demos/shared/chatbot_ui/common.py
  demos/shared/chatbot_ui/requirements.txt
  demos/shared/chatbot_ui/run_stream.py
Due: python-tests

Adding hidden python env to gitignore.
  .gitignore
Due: none

signoz tracing
  arch/envoy.template.yaml
  crates/common/src/consts.rs
  crates/prompt_gateway/src/http_context.rs
  crates/prompt_gateway/src/stream_context.rs
Due: cargo-fmt, cargo-clippy, cargo-test

release 0.0.5
  arch/tools/cli/main.py
  arch/tools/poetry.lock
  arch/tools/pyproject.toml
  archgw.code-workspace
  model_server/app/cli.py
  model_server/pyproject.toml
Due: python-tests

fix
  model_server/app/cli.py
  model_server/poetry.lock
  model_server/pyproject.toml
Due: python-tests

retry e2e tests
  e2e_tests/poetry.lock
  e2e_tests/pyproject.toml
  model_server/.vscode/launch.json
  model_server/app/function_calling/model_utils.py
Due: python-tests

update
  arch/tools/poetry.lock
  e2e_tests/poetry.lock
Due: none

Small fixes to arch_config in demos.
  demos/function_calling/arch_config.yaml
  demos/function_calling/run_demo.sh
  demos/llm_routing/arch_config.yaml
Due: none

set retry to 2
  e2e_tests/pyproject.toml
Due: none

remove chatbot ui
  e2e_tests/run_e2e_tests.sh
Due: none

add df
  e2e_tests/common_scripts.sh
Due: none

commiting to remove
  crates/prompt_gateway/src/stream_context.rs
  demos/hr_agent/Dockerfile
  demos/hr_agent/arch_config.yaml
  demos/hr_agent/docker-compose.yaml
  demos/hr_agent/main.py
  demos/hr_agent/requirements.txt
  demos/hr_agent/workforce_data.json
  demos/shared/chatbot_ui/.vscode/launch.json
  demos/shared/chatbot_ui/Dockerfile
  demos/shared/chatbot_ui/common.py
  demos/shared/chatbot_ui/requirements.txt
  demos/shared/chatbot_ui/run_stream.py
Due: cargo-fmt, cargo-clippy, cargo-test, python-tests

print df
  e2e_tests/common_scripts.sh
  e2e_tests/run_e2e_tests.sh
Due: none

better prints
  arch/tools/cli/main.py
  e2e_tests/run_e2e_tests.sh
Due: python-tests

fix
  demos/shared/chatbot_ui/.vscode/launch.json
  demos/shared/chatbot_ui/Dockerfile
  demos/shared/chatbot_ui/common.py
  demos/shared/chatbot_ui/requirements.txt
  demos/shared/chatbot_ui/run_stream.py
Due: python-tests

fix more
  arch/Dockerfile
  arch/docker-compose.yaml
  arch/env.list
  arch/stage.env
  arch/tools/build_cli.sh
  arch/tools/cli/config_generator.py
  arch/tools/cli/main.py
  arch/tools/pyproject.toml
  e2e_tests/poetry.lock
  e2e_tests/pyproject.toml
  e2e_tests/run_e2e_tests.sh
  model_server/poetry.lock
  model_server/pyproject.toml
Due: python-tests

fix build path
  arch/tools/poetry.lock
  e2e_tests/run_e2e_tests.sh
Due: none

fix logs
  e2e_tests/run_e2e_tests.sh
Due: none

updating hr_agent
  demos/hr_agent/main.py
  demos/shared/chatbot_ui/common.py
Due: python-tests

fix panic
  crates/prompt_gateway/src/http_context.rs
Due: cargo-fmt, cargo-clippy, cargo-test

print disk usage
  e2e_tests/run_e2e_tests.sh
Due: none

Updated hr_agent to be full stack: gradio + fastAPI (#235)
  crates/prompt_gateway/src/stream_context.rs
  demos/hr_agent/Dockerfile
  demos/hr_agent/arch_config.yaml
  demos/hr_agent/docker-compose.yaml
  demos/hr_agent/main.py
  demos/hr_agent/requirements.txt
  demos/hr_agent/workforce_data.json
  demos/shared/chatbot_ui/common.py
Due: cargo-fmt, cargo-clippy, cargo-test, python-tests

deploy: bb882fb59bbe0b5682258cc53dd750223d133ec1
  build_with_arch/agent.html
  build_with_arch/rag.html
  concepts/llm_provider.html
  concepts/prompt_target.html
  concepts/tech_overview/error_target.html
  concepts/tech_overview/listener.html
  concepts/tech_overview/model_serving.html
  concepts/tech_overview/prompt.html
  concepts/tech_overview/request_lifecycle.html
  concepts/tech_overview/tech_overview.html
  concepts/tech_overview/terminology.html
  concepts/tech_overview/threading_model.html
  get_started/intro_to_arch.html
  get_started/overview.html
  get_started/quickstart.html
  guides/function_calling.html
  guides/observability/access_logging.html
  guides/observability/monitoring.html
  guides/observability/observability.html
  guides/observability/tracing.html
  guides/prompt_guard.html
  index.html
  resources/configuration_reference.html
  search.html
Due: none

run on ubuntu-20.04-16core
  .github/workflows/e2e_tests.yml
Due: none

use large
  .github/workflows/e2e_tests.yml
Due: none

run on gh-large-150gb-ssd
  .github/workflows/e2e_tests.yml
Due: none

un on ubuntu latest
  .github/workflows/e2e_tests.yml
Due: none

large
  .github/workflows/e2e_tests.yml
Due: none

venv
  .github/workflows/e2e_tests.yml
Due: none

fix more
  arch/tools/pyproject.toml
  demos/hr_agent/arch_config.yaml
  demos/insurance_agent/arch_config.yaml
  demos/network_agent/arch_config.yaml
  docs/source/build_with_arch/includes/agent/function-calling-agent.yaml
  docs/source/concepts/includes/arch_config.yaml
  docs/source/get_started/includes/quickstart.yaml
  docs/source/guides/includes/arch_config.yaml
  docs/source/resources/includes/arch_config_full_reference.yaml
Due: none

add prefill and test
  demos/function_calling/arch_config.yaml
  model_server/app/function_calling/model_utils.py
  model_server/app/tests/test_function_calling.py
Due: python-tests
