Repository katanemo/arch: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-test, python-tests

cargo-fmt:
  name: cargo-fmt
  language: system
  entry: bash -c "cd crates/llm_gateway && cargo fmt -- --check"

cargo-clippy:
  name: cargo-clippy
  language: system
  entry: bash -c "cd crates/llm_gateway && cargo clippy --all"

cargo-test:
  name: cargo-test
  language: system
  entry: bash -c "cd crates/llm_gateway && cargo test --lib"

python-tests:
  name: Run Python Tests with pytest
  language: system
  entry: bash -c "cd model_server && pytest --maxfail=5 --disable-warnings"

fix pre commit
  .pre-commit-config.yaml
Due: none

fix precommit
  .github/workflows/pre-commit.yml
  .pre-commit-config.yaml
Due: none

fix precommit
  .pre-commit-config.yaml
Due: none

fix precommit
  .github/workflows/pre-commit.yml
  .github/workflows/python-tests.yml
  .pre-commit-config.yaml
Due: none

fix precommit
  .github/workflows/python-tests.yml
  .pre-commit-config.yaml
Due: none

fix precommit
  .github/workflows/model-server-tests.yml
  .github/workflows/pre-commit.yml
Due: none

fix precommit
  .github/workflows/model-server-tests.yml
Due: none

fix precommit
  model_server/app/tests/test_loaders_gpu.py
  model_server/app/tests/test_loaders_mps.py
Due: python-tests

update code in both llm and gateway filter
  arch/envoy.template.yaml
  crates/llm_gateway/src/lib.rs
  crates/llm_gateway/src/llm_filter_context.rs
  crates/llm_gateway/src/llm_stream_context.rs
  crates/prompt_gateway/src/filter_context.rs
  crates/prompt_gateway/src/lib.rs
  crates/prompt_gateway/src/prompt_filter_context.rs
  crates/prompt_gateway/src/prompt_stream_context.rs
  crates/prompt_gateway/src/stream_context.rs
  gateway.code-workspace
Due: cargo-fmt, cargo-clippy, cargo-test

fix precommit
  model_server/app/main.py
  model_server/app/tests/test_app.py
  model_server/app/tests/test_loaders_mps.py
Due: python-tests

Refactor model server hardware config + add unit tests to load/request to the server (#189)
  .github/workflows/model-server-tests.yml
  model_server/app/commons/constants.py
  model_server/app/commons/globals.py
  model_server/app/commons/utilities.py
  model_server/app/loader.py
  model_server/app/main.py
  model_server/app/prompt_guard/model_handler.py
  model_server/app/tests/test_app.py
  model_server/app/tests/test_loaders_cpu.py
  model_server/app/tests/test_loaders_gpu.py
  model_server/app/tests/test_loaders_mps.py
  model_server/pyproject.toml
  model_server/requirements.txt
Due: python-tests

update content-length
  crates/prompt_gateway/src/prompt_stream_context.rs
Due: cargo-fmt, cargo-clippy, cargo-test

fix llm gateway int tests
  .pre-commit-config.yaml
  crates/llm_gateway/src/llm_stream_context.rs
  crates/llm_gateway/tests/integration.rs
Due: cargo-fmt, cargo-clippy, cargo-test

fix prompt integration tests
  crates/prompt_gateway/src/prompt_stream_context.rs
  crates/prompt_gateway/tests/integration.rs
Due: cargo-fmt, cargo-clippy, cargo-test

fix prompt gateway integration tests
  crates/prompt_gateway/src/prompt_stream_context.rs
  crates/prompt_gateway/tests/integration.rs
Due: cargo-fmt, cargo-clippy, cargo-test

Split arch wasm filter code into prompt and llm gateway filters (#190)
  .pre-commit-config.yaml
  arch/envoy.template.yaml
  crates/llm_gateway/src/lib.rs
  crates/llm_gateway/src/llm_filter_context.rs
  crates/llm_gateway/src/llm_stream_context.rs
  crates/llm_gateway/tests/integration.rs
  crates/prompt_gateway/src/filter_context.rs
  crates/prompt_gateway/src/lib.rs
  crates/prompt_gateway/src/prompt_filter_context.rs
  crates/prompt_gateway/src/prompt_stream_context.rs
  crates/prompt_gateway/src/stream_context.rs
  crates/prompt_gateway/tests/integration.rs
  gateway.code-workspace
Due: cargo-fmt, cargo-clippy, cargo-test

deploy: 21e7fe2cef563b46f55fcd369a571b1dca8c9eab
  build_with_arch/agent.html
  build_with_arch/rag.html
  concepts/llm_provider.html
  concepts/prompt_target.html
  concepts/tech_overview/error_target.html
  concepts/tech_overview/listener.html
  concepts/tech_overview/model_serving.html
  concepts/tech_overview/prompt.html
  concepts/tech_overview/request_lifecycle.html
  concepts/tech_overview/tech_overview.html
  concepts/tech_overview/terminology.html
  concepts/tech_overview/threading_model.html
  get_started/intro_to_arch.html
  get_started/overview.html
  get_started/quickstart.html
  guides/function_calling.html
  guides/observability/access_logging.html
  guides/observability/monitoring.html
  guides/observability/observability.html
  guides/observability/tracing.html
  guides/prompt_guard.html
  index.html
  resources/configuration_reference.html
  search.html
Due: none

update lock file
  arch/tools/poetry.lock
  model_server/poetry.lock
Due: none

update lock file (#192)
  arch/tools/poetry.lock
  model_server/poetry.lock
Due: none

removing unnecessar setup.py files
  arch/tools/MANIFEST.in
  arch/tools/setup.py
  arch/tools/test/test_cli.py
Due: python-tests

Pass tool call and app function response back in metadata
  chatbot_ui/.vscode/launch.json
  chatbot_ui/app/run.py
  crates/common/src/common_types.rs
  crates/common/src/consts.rs
  crates/prompt_gateway/src/prompt_stream_context.rs
  crates/prompt_gateway/tests/integration.rs
  model_server/app/function_calling/model_utils.py
  model_server/app/tests/test_state.py
Due: cargo-fmt, cargo-clippy, cargo-test, python-tests

remove dead code
  chatbot_ui/app/run.py
Due: python-tests

fix build
  crates/common/src/common_types.rs
Due: cargo-fmt, cargo-clippy, cargo-test

improve code a bit
  chatbot_ui/app/run.py
Due: python-tests

more comments
  chatbot_ui/app/run.py
Due: python-tests

add comments
  crates/prompt_gateway/src/prompt_stream_context.rs
Due: cargo-fmt, cargo-clippy, cargo-test

Code refactor and some improvements - see description
  crates/common/src/configuration.rs
  crates/llm_gateway/src/filter_context.rs
  crates/llm_gateway/src/lib.rs
  crates/llm_gateway/src/stream_context.rs
  crates/prompt_gateway/src/filter_context.rs
  crates/prompt_gateway/src/lib.rs
  crates/prompt_gateway/src/stream_context.rs
Due: cargo-fmt, cargo-clippy, cargo-test

more fixes
  crates/common/Cargo.toml
  crates/common/src/http.rs
  crates/common/src/lib.rs
  crates/llm_gateway/Cargo.lock
  crates/llm_gateway/src/stream_context.rs
  crates/prompt_gateway/Cargo.lock
  crates/prompt_gateway/src/stream_context.rs
Due: cargo-fmt, cargo-clippy, cargo-test

fix buld
  .github/workflows/checks.yml
Due: none

add errors.rs
  crates/common/src/errors.rs
Due: cargo-fmt, cargo-clippy, cargo-test

Send back developer error correctly
  crates/llm_gateway/src/llm_stream_context.rs
  crates/prompt_gateway/src/prompt_stream_context.rs
  demos/function_calling/api_server/app/main.py
Due: cargo-fmt, cargo-clippy, cargo-test, python-tests

fix a bit more
  crates/llm_gateway/src/llm_stream_context.rs
  crates/prompt_gateway/src/prompt_stream_context.rs
  demos/function_calling/api_server/app/main.py
Due: cargo-fmt, cargo-clippy, cargo-test, python-tests

fix more
  demos/function_calling/api_server/app/main.py
Due: python-tests

fix path match bug
  crates/common/src/consts.rs
Due: cargo-fmt, cargo-clippy, cargo-test

fix int tests
  crates/common/src/consts.rs
  crates/llm_gateway/src/llm_stream_context.rs
  crates/prompt_gateway/tests/integration.rs
Due: cargo-fmt, cargo-clippy, cargo-test

updated the cli for debug and access logs
  arch/tools/cli/consts.py
  arch/tools/cli/core.py
  arch/tools/cli/main.py
  arch/tools/cli/utils.py
  arch/tools/poetry.lock
  arch/tools/pyproject.toml
  arch/tools/test/__init__.py
  arch/tools/test/test_cli.py
Due: python-tests

ran the pre-commit locally to fix pull request
  README.md
  arch/tools/cli/consts.py
  arch/tools/cli/core.py
  arch/tools/cli/main.py
  arch/tools/cli/utils.py
  arch/tools/test/test_cli.py
Due: python-tests

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-test: any of: \.rs$
  python-tests: any of: \.py$
