Repository katanemo/arch: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-test, python-tests

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-yaml
        exclude: arch/envoy.template*
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: local
    hooks:

      - id: cargo-fmt
        name: cargo-fmt
        language: system
        types: [file, rust]
        entry: bash -c "cd crates/llm_gateway && cargo fmt -- --check"

      - id: cargo-clippy
        name: cargo-clippy
        language: system
        types: [file, rust]
        entry: bash -c "cd crates/llm_gateway && cargo clippy --all"

      - id: cargo-test
        name: cargo-test
        language: system
        types: [file, rust]
        # --lib is to only test the library, since when integration tests are made,
        # they will be in a seperate tests directory
        entry: bash -c "cd crates/llm_gateway && cargo test --lib"
      - id: python-tests
        name: Run Python Tests with pytest
        language: system
        entry: bash -c "cd model_server && pytest --maxfail=5 --disable-warnings"
        types: [python]


  - repo: https://github.com/psf/black
    rev: 23.1.0
    hooks:
      - id: black
        language_version: python3

fix validating bug
  model_server/src/core/function_calling.py
Due: python-tests

commiting meetup agent demo
  demos/meetup_agent/Dockerfile
  demos/meetup_agent/arch_config.yaml
  demos/meetup_agent/docker-compose.yaml
  demos/meetup_agent/main.py
  demos/meetup_agent/profile.json
  demos/meetup_agent/requirements.txt
  demos/meetup_agent/run_demo.sh
Due: python-tests

fix bug
  model_server/src/core/function_calling.py
Due: python-tests

pending changes
  demos/meetup_agent/arch_config.yaml
  demos/meetup_agent/docker-compose.yaml
  demos/meetup_agent/main.py
Due: python-tests

pending changes
  demos/currency_exchange/arch_config.yaml
  demos/meetup_agent/arch_config.yaml
Due: none

remove some buckets to make footprint smaller
  arch/envoy.template.yaml
Due: none

add more granular bucket sizes for ttft (#343)
  arch/envoy.template.yaml
Due: none

deploy: 67b8fd635ec57091fcbee7adc89bf9ac72641c46
  build_with_arch/agent.html
  build_with_arch/rag.html
  concepts/llm_provider.html
  concepts/prompt_target.html
  concepts/tech_overview/error_target.html
  concepts/tech_overview/listener.html
  concepts/tech_overview/model_serving.html
  concepts/tech_overview/prompt.html
  concepts/tech_overview/request_lifecycle.html
  concepts/tech_overview/tech_overview.html
  concepts/tech_overview/terminology.html
  concepts/tech_overview/threading_model.html
  get_started/intro_to_arch.html
  get_started/overview.html
  get_started/quickstart.html
  guides/function_calling.html
  guides/observability/access_logging.html
  guides/observability/monitoring.html
  guides/observability/observability.html
  guides/observability/tracing.html
  guides/prompt_guard.html
  index.html
  resources/configuration_reference.html
  search.html
Due: none

add prob + fix bugs
  model_server/src/core/function_calling.py
  model_server/src/core/hallucination.py
Due: python-tests

add prob + fix bugs
  model_server/src/core/hallucination.py
Due: python-tests

add archgw tests
  .github/workflows/archgw.yml
  arch/docker-compose.dev.yaml
  arch/envoy.template.yaml
  arch/tools/cli/core.py
  archgw.code-workspace
  crates/prompt_gateway/src/context.rs
  crates/prompt_gateway/src/http_context.rs
  crates/prompt_gateway/src/stream_context.rs
  e2e_tests/.vscode/launch.json
  e2e_tests/.vscode/settings.json
  e2e_tests/common.py
  model_server/poetry.lock
  model_server/pyproject.toml
  tests/archgw/arch_config_weather_forecast.yaml
  tests/archgw/common.py
  tests/archgw/common.sh
  tests/archgw/docker-compose.yaml
  tests/archgw/poetry.lock
  tests/archgw/pyproject.toml
  tests/archgw/test_archgw.py
  tests/e2e/README.md
  tests/e2e/common.py
  tests/e2e/common_scripts.sh
  tests/e2e/docker-compose.yaml
  tests/e2e/poetry.lock
  tests/e2e/pyproject.toml
  tests/e2e/run_e2e_tests.sh
  tests/e2e/test_llm_gateway.py
  tests/e2e/test_prompt_gateway.py
  tests/rest/api_llm_gateway.rest
  tests/rest/api_model_server.rest
  tests/rest/api_prompt_gateway.rest
  tests/rest/tracing.rest
Due: cargo-fmt, cargo-clippy, cargo-test, python-tests

fix keys
  .github/workflows/archgw.yml
Due: none

actually fix keys :)
  .github/workflows/archgw.yml
Due: none

fix a bit more
  .github/workflows/archgw.yml
Due: none

update more
  .github/workflows/archgw.yml
Due: none

.
  .github/workflows/archgw.yml
Due: none

print logs
  .github/workflows/archgw.yml
Due: none

fix
  .github/workflows/archgw.yml
Due: none

fix more
  .github/workflows/archgw.yml
Due: none

listen to 0
  tests/archgw/test_archgw.py
Due: python-tests

print to console too
  .github/workflows/archgw.yml
Due: none

fix tests
  .github/workflows/archgw.yml
Due: none

fix more
  .gitignore
  arch/tools/cli/core.py
  tests/archgw/arch_config.yaml
  tests/archgw/docker-compose.yaml
  tests/archgw/pyproject.toml
  tests/archgw/test_llm_gateway.py
  tests/archgw/test_prompt_gateway.py
Due: python-tests

add model server e2e
  .github/workflows/e2e_archgw.yml
  .github/workflows/e2e_model_server.yml
  archgw.code-workspace
  demos/weather_forecast/pyproject.toml
  model_server/pyproject.toml
  model_server/src/cli.py
  model_server/src/commons/globals.py
  model_server/src/commons/utils.py
  model_server/src/core/function_calling.py
  model_server/src/core/guardrails.py
  model_server/src/core/hallucination.py
  tests/e2e/pyproject.toml
  tests/modelserver/poetry.lock
  tests/modelserver/pyproject.toml
  tests/modelserver/test_modelserver.py
  tests/rest/api_model_server.rest
Due: python-tests

rename
  .github/workflows/e2e_archgw.yml
Due: none

fix
  .github/workflows/e2e_model_server.yml
Due: none

fix
  tests/e2e/test_prompt_gateway.py
Due: python-tests

new threshold
  model_server/src/core/hallucination.py
Due: python-tests

fix pytest
  model_server/src/core/guardrails.py
Due: python-tests

add in honeycomb support for weather-forecast demo
  demos/shared/honeycomb/Dockerfile
  demos/shared/honeycomb/otel-collector-config.yaml
  demos/weather_forecast/docker-compose-honeycomb.yaml
  demos/weather_forecast/run_demo.sh
Due: none

fix rust tests
  crates/prompt_gateway/src/context.rs
  crates/prompt_gateway/src/stream_context.rs
  crates/prompt_gateway/tests/integration.rs
Due: cargo-fmt, cargo-clippy, cargo-test

add retry
  tests/e2e/pyproject.toml
Due: none

fix intent model server test
  tests/rest/api_model_server.rest
Due: none

added multi param tests in model server
  tests/modelserver/pyproject.toml
  tests/modelserver/test_modelserver.py
Due: python-tests
