Repository katanemo/arch: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-test, python-tests

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-yaml
        exclude: arch/envoy.template*
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: local
    hooks:

      - id: cargo-fmt
        name: cargo-fmt
        language: system
        types: [file, rust]
        entry: bash -c "cd crates/llm_gateway && cargo fmt -- --check"

      - id: cargo-clippy
        name: cargo-clippy
        language: system
        types: [file, rust]
        entry: bash -c "cd crates/llm_gateway && cargo clippy --all"

      - id: cargo-test
        name: cargo-test
        language: system
        types: [file, rust]
        # --lib is to only test the library, since when integration tests are made,
        # they will be in a seperate tests directory
        entry: bash -c "cd crates/llm_gateway && cargo test --lib"
      - id: python-tests
        name: Run Python Tests with pytest
        language: system
        entry: bash -c "cd model_server && pytest --maxfail=5 --disable-warnings"
        types: [python]


  - repo: https://github.com/psf/black
    rev: 23.1.0
    hooks:
      - id: black
        language_version: python3

deploy: 9a6ae2efee34ca1301fb206d1a871ea2251b4408
  build_with_arch/agent.html
  build_with_arch/rag.html
  concepts/llm_provider.html
  concepts/prompt_target.html
  concepts/tech_overview/error_target.html
  concepts/tech_overview/listener.html
  concepts/tech_overview/model_serving.html
  concepts/tech_overview/prompt.html
  concepts/tech_overview/request_lifecycle.html
  concepts/tech_overview/tech_overview.html
  concepts/tech_overview/terminology.html
  concepts/tech_overview/threading_model.html
  get_started/intro_to_arch.html
  get_started/overview.html
  get_started/quickstart.html
  guides/function_calling.html
  guides/observability/access_logging.html
  guides/observability/monitoring.html
  guides/observability/observability.html
  guides/observability/tracing.html
  guides/prompt_guard.html
  index.html
  resources/configuration_reference.html
  search.html
Due: none

chore: update stream_context.rs (#248)
  crates/prompt_gateway/src/stream_context.rs
Due: cargo-fmt, cargo-clippy, cargo-test

wip
  arch/Dockerfile
  arch/envoy.template.yaml
  crates/prompt_gateway/src/http_context.rs
  crates/prompt_gateway/src/stream_context.rs
Due: cargo-fmt, cargo-clippy, cargo-test

add requirements to readme
  README.md
Due: none

remove dead code
  arch/envoy.template.yaml
  crates/prompt_gateway/src/http_context.rs
Due: cargo-fmt, cargo-clippy, cargo-test

wip
  arch/envoy.template.yaml
  crates/llm_gateway/src/stream_context.rs
Due: cargo-fmt, cargo-clippy, cargo-test

wip
  arch/arch_config_schema.yaml
  arch/envoy.template.yaml
  archgw.code-workspace
  crates/common/src/configuration.rs
  crates/prompt_gateway/src/filter_context.rs
  crates/prompt_gateway/src/http_context.rs
  crates/prompt_gateway/src/stream_context.rs
  demos/function_calling/Dockerfile-opentelemetry
  demos/function_calling/api_server/Dockerfile
  demos/function_calling/api_server/requirements.txt
  demos/function_calling/docker-compose.yaml
  demos/function_calling/grafana/dashboard.yaml
  demos/function_calling/grafana/dashboards/envoy_overview.json
  demos/function_calling/grafana/datasource.yaml
  demos/function_calling/otel-collector-config.yaml
  demos/function_calling/prometheus/prometheus.yaml
  demos/shared/insurance_claims_service/.vscode/launch.json
  demos/shared/insurance_claims_service/Dockerfile
  demos/shared/insurance_claims_service/main.py
  demos/shared/insurance_claims_service/poetry.lock
  demos/shared/insurance_claims_service/pyproject.toml
  demos/shared/jaeger/Dockerfile
  demos/shared/weather_forecast_service/.vscode/launch.json
  demos/shared/weather_forecast_service/Dockerfile
  demos/shared/weather_forecast_service/main.py
  demos/shared/weather_forecast_service/poetry.lock
  demos/shared/weather_forecast_service/pyproject.toml
  demos/weather_forecast/README.md
  demos/weather_forecast/arch_config.yaml
  demos/weather_forecast/docker-compose.yaml
  demos/weather_forecast/run_demo.sh
Due: cargo-fmt, cargo-clippy, cargo-test, python-tests

fix clippy
  crates/prompt_gateway/src/stream_context.rs
Due: cargo-fmt, cargo-clippy, cargo-test

remove launchconfig
  demos/shared/insurance_claims_service/.vscode/launch.json
  demos/shared/weather_forecast_service/.vscode/launch.json
Due: none

add signoz
  .gitignore
  demos/shared/signoz/alertmanager.yml
  demos/shared/signoz/alerts.yml
  demos/shared/signoz/clickhouse-cluster.xml
  demos/shared/signoz/clickhouse-config.xml
  demos/shared/signoz/clickhouse-storage.xml
  demos/shared/signoz/clickhouse-users.xml
  demos/shared/signoz/custom-function.xml
  demos/shared/signoz/docker-compose-core.yaml
  demos/shared/signoz/docker-compose-local.yaml
  demos/shared/signoz/docker-compose-minimal.yaml
  demos/shared/signoz/docker-compose.testing.yaml
  demos/shared/signoz/docker-compose.yaml
  demos/shared/signoz/keeper_config.xml
  demos/shared/signoz/nginx-config.conf
  demos/shared/signoz/otel-collector-config.yaml
  demos/shared/signoz/otel-collector-opamp-config.yaml
  demos/shared/signoz/prometheus.yml
  demos/shared/signoz/test-app-docker-compose.yaml
  demos/shared/signoz/user_scripts/histogramQuantile
  demos/shared/signoz/user_scripts/histogramQuantile.go
  demos/weather_forecast_signoz/README.md
  demos/weather_forecast_signoz/arch_config.yaml
  demos/weather_forecast_signoz/docker-compose.yaml
  demos/weather_forecast_signoz/run_demo.sh
Due: none

fix e2e tests
  e2e_tests/run_e2e_tests.sh
Due: none

fix e2e
  e2e_tests/test_prompt_gateway.py
Due: python-tests

fix e2e
  crates/prompt_gateway/src/context.rs
  e2e_tests/test_prompt_gateway.py
Due: cargo-fmt, cargo-clippy, cargo-test, python-tests

update fix
  e2e_tests/common.py
  e2e_tests/test_prompt_gateway.py
  model_server/app/commons/constants.py
  model_server/app/function_calling/model_utils.py
  model_server/app/main.py
  model_server/app/tests/test_function_calling.py
Due: python-tests

fix
  e2e_tests/test_prompt_gateway.py
Due: python-tests

wip
  api_prompt_gateway.rest
  arch/Dockerfile
  arch/docker-compose.dev.yaml
  arch/docker-compose.e2e.yaml
  arch/docker-compose.yaml
  arch/envoy.template.yaml
  crates/prompt_gateway/src/stream_context.rs
  demos/weather_forecast/arch_config.yaml
  model_server/app/main.py
  model_server/poetry.lock
  model_server/pyproject.toml
Due: cargo-fmt, cargo-clippy, cargo-test, python-tests

address cmt
  e2e_tests/common.py
  e2e_tests/test_prompt_gateway.py
  model_server/app/commons/constants.py
  model_server/app/function_calling/model_utils.py
Due: python-tests

address cmt
  model_server/app/tests/test_function_calling.py
Due: python-tests

add prefill and test (#236)
  e2e_tests/.vscode/launch.json
  e2e_tests/common.py
  e2e_tests/test_prompt_gateway.py
  model_server/app/commons/constants.py
  model_server/app/function_calling/model_utils.py
  model_server/app/main.py
  model_server/app/tests/test_function_calling.py
Due: python-tests

deploy: fb67788be0ed5db94a74696cf3f99fed30de7c9a
  build_with_arch/agent.html
  build_with_arch/rag.html
  concepts/llm_provider.html
  concepts/prompt_target.html
  concepts/tech_overview/error_target.html
  concepts/tech_overview/listener.html
  concepts/tech_overview/model_serving.html
  concepts/tech_overview/prompt.html
  concepts/tech_overview/request_lifecycle.html
  concepts/tech_overview/tech_overview.html
  concepts/tech_overview/terminology.html
  concepts/tech_overview/threading_model.html
  get_started/intro_to_arch.html
  get_started/overview.html
  get_started/quickstart.html
  guides/function_calling.html
  guides/observability/access_logging.html
  guides/observability/monitoring.html
  guides/observability/observability.html
  guides/observability/tracing.html
  guides/prompt_guard.html
  index.html
  resources/configuration_reference.html
  search.html
Due: none

fix comments
  crates/prompt_gateway/src/http_context.rs
Due: cargo-fmt, cargo-clippy, cargo-test

fix tests
  crates/prompt_gateway/src/stream_context.rs
  crates/prompt_gateway/tests/integration.rs
Due: cargo-fmt, cargo-clippy, cargo-test

rename trace_arch => trace_arch_internal
  crates/common/src/configuration.rs
  crates/prompt_gateway/src/stream_context.rs
  demos/weather_forecast/arch_config.yaml
Due: cargo-fmt, cargo-clippy, cargo-test

better naming
  arch/envoy.template.yaml
  model_server/app/main.py
Due: python-tests

fix schema file
  arch/arch_config_schema.yaml
Due: none

remove ins claim service
  demos/shared/insurance_claims_service/Dockerfile
  demos/shared/insurance_claims_service/main.py
  demos/shared/insurance_claims_service/poetry.lock
  demos/shared/insurance_claims_service/pyproject.toml
Due: python-tests

add custom span
  demos/weather_forecast/docker-compose.yaml
Due: none

deploy: a72bb804eb7e96c8f8ce58309f78ec3bae026d79
  build_with_arch/agent.html
  build_with_arch/rag.html
  concepts/llm_provider.html
  concepts/prompt_target.html
  concepts/tech_overview/error_target.html
  concepts/tech_overview/listener.html
  concepts/tech_overview/model_serving.html
  concepts/tech_overview/prompt.html
  concepts/tech_overview/request_lifecycle.html
  concepts/tech_overview/tech_overview.html
  concepts/tech_overview/terminology.html
  concepts/tech_overview/threading_model.html
  get_started/intro_to_arch.html
  get_started/overview.html
  get_started/quickstart.html
  guides/function_calling.html
  guides/observability/access_logging.html
  guides/observability/monitoring.html
  guides/observability/observability.html
  guides/observability/tracing.html
  guides/prompt_guard.html
  index.html
  resources/configuration_reference.html
  search.html
Due: none

update docs with weather_forecast path
  README.md
  arch/docker-compose.dev.yaml
  arch/docker-compose.e2e.yaml
  arch/docker-compose.yaml
  demos/shared/chatbot_ui/.vscode/launch.json
  e2e_tests/README.md
Due: none

obfuscate auth header
  crates/common/src/lib.rs
  crates/common/src/pii.rs
  crates/llm_gateway/src/stream_context.rs
  crates/prompt_gateway/src/http_context.rs
Due: cargo-fmt, cargo-clippy, cargo-test

more tests
  crates/common/src/pii.rs
Due: cargo-fmt, cargo-clippy, cargo-test

update docs with weather_forecast path (#253)
  README.md
  arch/docker-compose.dev.yaml
  arch/docker-compose.e2e.yaml
  arch/docker-compose.yaml
  demos/shared/chatbot_ui/.vscode/launch.json
  e2e_tests/README.md
Due: none

add requirements to readme (#249)
  README.md
Due: none

update rust to 1.82 pin it, also update envoy to 1.32 and python to 3.13
  .github/workflows/rust_tests.yml
  arch/Dockerfile
  arch/README.md
  arch/docker-compose.dev.yaml
  crates/llm_gateway/tests/integration.rs
  crates/prompt_gateway/tests/integration.rs
Due: cargo-fmt, cargo-clippy, cargo-test

obfuscate auth header (#254)
  crates/common/src/lib.rs
  crates/common/src/pii.rs
  crates/llm_gateway/src/stream_context.rs
  crates/prompt_gateway/src/http_context.rs
Due: cargo-fmt, cargo-clippy, cargo-test

removing depdency on mistral keys
  demos/weather_forecast/arch_config.yaml
  demos/weather_forecast_signoz/arch_config.yaml
Due: none

removing depdency on mistral keys (#256)
  demos/weather_forecast/arch_config.yaml
  demos/weather_forecast_signoz/arch_config.yaml
Due: none

deploy: 4b2b37187643075167ea7017648e77dcf5987d06
  build_with_arch/agent.html
  build_with_arch/rag.html
  concepts/llm_provider.html
  concepts/prompt_target.html
  concepts/tech_overview/error_target.html
  concepts/tech_overview/listener.html
  concepts/tech_overview/model_serving.html
  concepts/tech_overview/prompt.html
  concepts/tech_overview/request_lifecycle.html
  concepts/tech_overview/tech_overview.html
  concepts/tech_overview/terminology.html
  concepts/tech_overview/threading_model.html
  get_started/intro_to_arch.html
  get_started/overview.html
  get_started/quickstart.html
  guides/function_calling.html
  guides/observability/access_logging.html
  guides/observability/monitoring.html
  guides/observability/observability.html
  guides/observability/tracing.html
  guides/prompt_guard.html
  index.html
  resources/configuration_reference.html
  search.html
Due: none
