Repository katanemo/arch: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-test, python-tests

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-yaml
        exclude: arch/envoy.template*
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: local
    hooks:

      - id: cargo-fmt
        name: cargo-fmt
        language: system
        types: [file, rust]
        entry: bash -c "cd crates/llm_gateway && cargo fmt -- --check"

      - id: cargo-clippy
        name: cargo-clippy
        language: system
        types: [file, rust]
        entry: bash -c "cd crates/llm_gateway && cargo clippy --all"

      - id: cargo-test
        name: cargo-test
        language: system
        types: [file, rust]
        # --lib is to only test the library, since when integration tests are made,
        # they will be in a seperate tests directory
        entry: bash -c "cd crates/llm_gateway && cargo test --lib"
      - id: python-tests
        name: Run Python Tests with pytest
        language: system
        entry: bash -c "cd model_server && pytest --maxfail=5 --disable-warnings"
        types: [python]


  - repo: https://github.com/psf/black
    rev: 23.1.0
    hooks:
      - id: black
        language_version: python3

deploy: a0c159c9ba316cc43210dcacbaacbfb6a0eaf71b
  .buildinfo
  _images/arch-logo.png
  _static/documentation_options.js
  _static/img/arch-logo.png
  build_with_arch/agent.html
  build_with_arch/rag.html
  concepts/llm_provider.html
  concepts/prompt_target.html
  concepts/tech_overview/error_target.html
  concepts/tech_overview/listener.html
  concepts/tech_overview/model_serving.html
  concepts/tech_overview/prompt.html
  concepts/tech_overview/request_lifecycle.html
  concepts/tech_overview/tech_overview.html
  concepts/tech_overview/terminology.html
  concepts/tech_overview/threading_model.html
  get_started/intro_to_arch.html
  get_started/overview.html
  get_started/quickstart.html
  guides/function_calling.html
  guides/observability/access_logging.html
  guides/observability/monitoring.html
  guides/observability/observability.html
  guides/observability/tracing.html
  guides/prompt_guard.html
  index.html
  resources/configuration_reference.html
  search.html
  searchindex.js
Due: none

Update .gitignore
  .gitignore
Due: none

remove debug statement
  crates/prompt_gateway/src/stream_context.rs
Due: cargo-fmt, cargo-clippy, cargo-test

Init update on model_server
  model_server/app/cli.py
  model_server/app/commons/constants.py
  model_server/app/commons/globals.py
  model_server/app/commons/utilities.py
  model_server/app/function_calling/model_handler.py
  model_server/app/function_calling/model_utils.py
  model_server/app/loader.py
  model_server/app/main.py
  model_server/app/model_handler/__init__.py
  model_server/app/model_handler/function_calling.py
  model_server/app/model_handler/guardrails.py
  model_server/app/model_handler/hallucination_handler.py
  model_server/app/prompt_guard/__init__.py
  model_server/app/prompt_guard/model_handler.py
  model_server/app/prompt_guard/model_utils.py
  model_server/app/tests/__init__.py
  model_server/app/tests/test_app.py
  model_server/app/tests/test_cases.json
  model_server/app/tests/test_cli_stop_server.py
  model_server/app/tests/test_function_calling.py
  model_server/app/tests/test_guardrails.py
  model_server/app/tests/test_hallucination.py
  model_server/app/tests/test_loaders_cpu.py
  model_server/app/tests/test_loaders_gpu.py
  model_server/app/tests/test_loaders_mps.py
  model_server/app/tests/test_state.py
Due: python-tests

set up otel-collector and implement sending to logfire
  demos/weather_forecast_logfire/docker-compose.yaml
  demos/weather_forecast_logfire/otel-collector/Dockerfile
  demos/weather_forecast_logfire/otel-collector/otel-collector-config.yaml
Due: none

moved rest of the files for the demo into the folder
  demos/weather_forecast_logfire/README.md
  demos/weather_forecast_logfire/arch_config.yaml
  demos/weather_forecast_logfire/run_demo.sh
Due: none

pending
  arch/tools/cli/config_generator.py
  crates/prompt_gateway/src/stream_context.rs
  demos/acm_k8s/acm_api.yaml
  demos/acm_k8s/acm_service/openapi_server/__main__.py
  demos/acm_k8s/acm_service/openapi_server/openapi/openapi.yaml
  demos/acm_k8s/acm_service/setup.py
  demos/acm_k8s/arch_config.yaml
  demos/acm_k8s/generate_acm_service_stub.sh
Due: cargo-fmt, cargo-clippy, cargo-test, python-tests

refactor model_handler
  model_server/app/main.py
  model_server/app/model_handler/base_handler.py
  model_server/app/model_handler/function_calling.py
  model_server/app/model_handler/hallucination_handler.py
  model_server/app/tests/test_function_calling.py
Due: python-tests

update getting started guide
  README.md
Due: none

add more samples
  README.md
Due: none

format tip
  README.md
Due: none

Update guardrail_handler and its associated tests
  model_server/app/commons/globals.py
  model_server/app/model_handler/function_calling.py
  model_server/app/model_handler/guardrails.py
  model_server/app/tests/test_app.py
  model_server/app/tests/test_cases.json
  model_server/app/tests/test_function_calling.py
  model_server/app/tests/test_guardrails.py
Due: python-tests

spellcheck
  README.md
  arch/tools/cli/core.py
  arch/tools/cli/main.py
Due: python-tests

Fix a bug in function_calling.py
  model_server/app/model_handler/function_calling.py
Due: python-tests

update docker-compose.yaml and run_demo.sh to properly check for LOGFIRE_API_KEY
  demos/weather_forecast_logfire/docker-compose.yaml
  demos/weather_forecast_logfire/run_demo.sh
Due: none

refactor weather_forecast demo to only be one demo
  demos/weather_forecast/docker-compose.jaeger.yml
  demos/weather_forecast/docker-compose.logfire.yml
  demos/weather_forecast/docker-compose.signoz.yml
  demos/weather_forecast/otel-collector/Dockerfile
  demos/weather_forecast/otel-collector/otel-collector-config.yaml
  demos/weather_forecast/run_demo.sh
  demos/weather_forecast_logfire/README.md
  demos/weather_forecast_logfire/arch_config.yaml
  demos/weather_forecast_logfire/run_demo.sh
  demos/weather_forecast_signoz/README.md
  demos/weather_forecast_signoz/arch_config.yaml
  demos/weather_forecast_signoz/run_demo.sh
Due: none

add a default docker-compose for e2e tests
  demos/weather_forecast/docker-compose.yaml
Due: none

add genai app
  README.md
Due: none

remove demo code change
  demos/acm_k8s/README.md
  demos/acm_k8s/acm_api.yaml
  demos/acm_k8s/acm_service/.dockerignore
  demos/acm_k8s/acm_service/.gitignore
  demos/acm_k8s/acm_service/.openapi-generator-ignore
  demos/acm_k8s/acm_service/.openapi-generator/FILES
  demos/acm_k8s/acm_service/.openapi-generator/VERSION
  demos/acm_k8s/acm_service/.travis.yml
  demos/acm_k8s/acm_service/Dockerfile
  demos/acm_k8s/acm_service/README.md
  demos/acm_k8s/acm_service/git_push.sh
  demos/acm_k8s/acm_service/openapi_server/__init__.py
  demos/acm_k8s/acm_service/openapi_server/__main__.py
  demos/acm_k8s/acm_service/openapi_server/controllers/__init__.py
  demos/acm_k8s/acm_service/openapi_server/controllers/controller.py
  demos/acm_k8s/acm_service/openapi_server/controllers/default_controller.py
  demos/acm_k8s/acm_service/openapi_server/controllers/security_controller.py
  demos/acm_k8s/acm_service/openapi_server/encoder.py
  demos/acm_k8s/acm_service/openapi_server/models/__init__.py
  demos/acm_k8s/acm_service/openapi_server/models/base_model.py
  demos/acm_k8s/acm_service/openapi_server/models/managed_cluster.py
  demos/acm_k8s/acm_service/openapi_server/models/managed_cluster_client_config.py
  demos/acm_k8s/acm_service/openapi_server/models/metadata.py
  demos/acm_k8s/acm_service/openapi_server/models/spec.py
  demos/acm_k8s/acm_service/openapi_server/openapi/openapi.yaml
  demos/acm_k8s/acm_service/openapi_server/test/__init__.py
  demos/acm_k8s/acm_service/openapi_server/test/test_default_controller.py
  demos/acm_k8s/acm_service/openapi_server/typing_utils.py
  demos/acm_k8s/acm_service/openapi_server/util.py
  demos/acm_k8s/acm_service/requirements.txt
  demos/acm_k8s/acm_service/setup.py
  demos/acm_k8s/acm_service/test-requirements.txt
  demos/acm_k8s/acm_service/tox.ini
  demos/acm_k8s/arch_config.yaml
  demos/acm_k8s/docker-compose.yaml
  demos/acm_k8s/generate_acm_service_stub.sh
  demos/acm_k8s/petstore.yml
  demos/acm_k8s/run_demo.sh
Due: python-tests

more changes
  crates/prompt_gateway/src/stream_context.rs
Due: cargo-fmt, cargo-clippy, cargo-test

Refine model_server
  model_server/app/commons/constants.py
  model_server/app/commons/globals.py
  model_server/app/main.py
  model_server/app/model_handler/base_handler.py
  model_server/app/model_handler/function_calling.py
  model_server/app/model_handler/guardrails.py
Due: python-tests

update based on requested changes
  demos/shared/logfire/Dockerfile
  demos/shared/logfire/otel-collector-config.yaml
  demos/weather_forecast/README.md
  demos/weather_forecast/docker-compose-jaeger.yaml
  demos/weather_forecast/docker-compose-logfire.yaml
  demos/weather_forecast/docker-compose-signoz.yaml
  demos/weather_forecast/docker-compose.yaml
  demos/weather_forecast/run_demo.sh
  demos/weather_forecast/weather_forecast_service/Dockerfile
  demos/weather_forecast/weather_forecast_service/main.py
  demos/weather_forecast/weather_forecast_service/poetry.lock
  demos/weather_forecast/weather_forecast_service/pyproject.toml
Due: python-tests

add more changes
  arch/arch_config_schema.yaml
  arch/envoy.template.yaml
  model_server/poetry.lock
  model_server/pyproject.toml
Due: none

fix replace comma with colon in readme
  demos/weather_forecast/README.md
Due: none

add more details
  README.md
Due: none

update readme
  README.md
Due: none

add demo folder for currency conversion
  demos/currency_exchange/README.md
  demos/currency_exchange/arch_config.yaml
  demos/currency_exchange/docker-compose.yaml
  demos/currency_exchange/run_demo.sh
Due: none

remove weather_forecast_service folder, and make logfire demo fail instantly if no key is set
  demos/weather_forecast/Dockerfile
  demos/weather_forecast/docker-compose-jaeger.yaml
  demos/weather_forecast/docker-compose.yaml
  demos/weather_forecast/main.py
  demos/weather_forecast/poetry.lock
  demos/weather_forecast/pyproject.toml
  demos/weather_forecast/run_demo.sh
Due: python-tests

remove the unused weather forecast service folder
  demos/weather_forecast/weather_forecast_service/Dockerfile
  demos/weather_forecast/weather_forecast_service/main.py
  demos/weather_forecast/weather_forecast_service/poetry.lock
  demos/weather_forecast/weather_forecast_service/pyproject.toml
Due: python-tests

docs: update README.md
  README.md
Due: none

reorder section
  README.md
Due: none

use GET as default http method
  README.md
  crates/common/src/configuration.rs
  demos/currency_exchange/arch_config.yaml
  demos/hr_agent/arch_config.yaml
  demos/insurance_agent/arch_config.yaml
  demos/network_agent/arch_config.yaml
  demos/weather_forecast/arch_config.yaml
  demos/weather_forecast_signoz/arch_config.yaml
  docs/source/guides/includes/arch_config.yaml
Due: cargo-fmt, cargo-clippy, cargo-test

more fixes
  README.md
Due: none

fix
  README.md
Due: none

Changed stop_demo to only stop one file at a time
  demos/weather_forecast/run_demo.sh
Due: none

update readme with new demo stopping setup
  demos/weather_forecast/README.md
Due: none

Fix the issue of Arch-Intent
  model_server/app/commons/constants.py
  model_server/app/model_handler/base_handler.py
  model_server/app/model_handler/function_calling.py
  model_server/app/tests/test_function_calling.py
Due: python-tests

Add e2e test of function_calling endpoint
  e2e_tests/api_model_server.rest
Due: none

move method to endpoint section and use Agent AI app name
  README.md
  arch/arch_config_schema.yaml
  crates/common/src/configuration.rs
  crates/prompt_gateway/src/stream_context.rs
  demos/currency_exchange/arch_config.yaml
  demos/hr_agent/arch_config.yaml
  demos/insurance_agent/arch_config.yaml
  demos/network_agent/arch_config.yaml
  demos/weather_forecast/arch_config.yaml
  demos/weather_forecast_signoz/arch_config.yaml
  docs/source/guides/includes/arch_config.yaml
Due: cargo-fmt, cargo-clippy, cargo-test
