Repository katanemo/arch: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-test, python-tests

cargo-fmt:
  name: cargo-fmt
  language: system
  entry: bash -c "cd crates/llm_gateway && cargo fmt -- --check"

cargo-clippy:
  name: cargo-clippy
  language: system
  entry: bash -c "cd crates/llm_gateway && cargo clippy --all"

cargo-test:
  name: cargo-test
  language: system
  entry: bash -c "cd crates/llm_gateway && cargo test --lib"

python-tests:
  name: Run Python Tests with pytest
  language: system
  entry: bash -c "cd model_server && pytest --maxfail=5 --disable-warnings"

updating README with PH launch results
  README.md
Due: none

updating README with PH launch results (#268)
  README.md
Due: none

deploy: 9eeb790c7f5f8275a21bf2e11f04219a20e92504
  build_with_arch/agent.html
  build_with_arch/rag.html
  concepts/llm_provider.html
  concepts/prompt_target.html
  concepts/tech_overview/error_target.html
  concepts/tech_overview/listener.html
  concepts/tech_overview/model_serving.html
  concepts/tech_overview/prompt.html
  concepts/tech_overview/request_lifecycle.html
  concepts/tech_overview/tech_overview.html
  concepts/tech_overview/terminology.html
  concepts/tech_overview/threading_model.html
  get_started/intro_to_arch.html
  get_started/overview.html
  get_started/quickstart.html
  guides/function_calling.html
  guides/observability/access_logging.html
  guides/observability/monitoring.html
  guides/observability/observability.html
  guides/observability/tracing.html
  guides/prompt_guard.html
  index.html
  resources/configuration_reference.html
  search.html
Due: none

fix int tests
  crates/llm_gateway/src/stream_context.rs
  crates/llm_gateway/tests/integration.rs
Due: cargo-fmt, cargo-clippy, cargo-test

add in tpot and tokens per second
  crates/llm_gateway/src/filter_context.rs
  crates/llm_gateway/src/stream_context.rs
Due: cargo-fmt, cargo-clippy, cargo-test

add in debug logs for new stats and update integration tests
  crates/llm_gateway/src/stream_context.rs
  crates/llm_gateway/tests/integration.rs
Due: cargo-fmt, cargo-clippy, cargo-test

change to not ignore time to first token in tpot calculation
  crates/llm_gateway/src/stream_context.rs
Due: cargo-fmt, cargo-clippy, cargo-test

update shared dashboard to include new stats
  demos/shared/grafana/dashboards/envoy_overview.json
Due: none

remove sleep
  arch/stream_traces.py
Due: python-tests

Add in tpot (#269)
  crates/llm_gateway/src/filter_context.rs
  crates/llm_gateway/src/stream_context.rs
  crates/llm_gateway/tests/integration.rs
  demos/shared/grafana/dashboards/envoy_overview.json
Due: cargo-fmt, cargo-clippy, cargo-test

fix path
  arch/docker-compose.dev.yaml
  arch/docker-compose.yaml
  arch/tools/cli/config_generator.py
Due: python-tests

move custom tracer to llm filter (#267)
  arch/Dockerfile
  arch/docker-compose.dev.yaml
  arch/docker-compose.e2e.yaml
  arch/docker-compose.yaml
  arch/envoy.template.yaml
  arch/stream_traces.py
  arch/supervisord.conf
  arch/tools/cli/config_generator.py
  archgw.code-workspace
  crates/llm_gateway/src/stream_context.rs
  crates/llm_gateway/tests/integration.rs
  crates/prompt_gateway/src/http_context.rs
  demos/llm_routing/README.md
  demos/llm_routing/docker-compose.yaml
  demos/shared/chatbot_ui/.vscode/launch.json
  demos/shared/chatbot_ui/common.py
  demos/shared/chatbot_ui/run_stream.py
  demos/shared/grafana/dashboards/envoy_overview.json
  demos/shared/trace_streamer/Dockerfile
  demos/weather_forecast/docker-compose.yaml
  demos/weather_forecast_signoz/docker-compose.yaml
  e2e_tests/run_e2e_tests.sh
Due: cargo-fmt, cargo-clippy, cargo-test, python-tests

use custom tags to store user_message
  arch/envoy.template.yaml
  crates/llm_gateway/src/stream_context.rs
Due: cargo-fmt, cargo-clippy, cargo-test

deploy: d3c17c7abd7034aa7d9dbba8ea83c9bfdf7a30a0
  build_with_arch/agent.html
  build_with_arch/rag.html
  concepts/llm_provider.html
  concepts/prompt_target.html
  concepts/tech_overview/error_target.html
  concepts/tech_overview/listener.html
  concepts/tech_overview/model_serving.html
  concepts/tech_overview/prompt.html
  concepts/tech_overview/request_lifecycle.html
  concepts/tech_overview/tech_overview.html
  concepts/tech_overview/terminology.html
  concepts/tech_overview/threading_model.html
  get_started/intro_to_arch.html
  get_started/overview.html
  get_started/quickstart.html
  guides/function_calling.html
  guides/observability/access_logging.html
  guides/observability/monitoring.html
  guides/observability/observability.html
  guides/observability/tracing.html
  guides/prompt_guard.html
  index.html
  resources/configuration_reference.html
  search.html
Due: none

updating docs to reflect changes in 0.1.2 like tracing via signoz and the product hunt top produt badge
  docs/source/_static/img/tracing.png
  docs/source/conf.py
  docs/source/guides/observability/tracing.rst
  docs/source/index.rst
  e2e_tests/api_llm_gateway.rest
  e2e_tests/api_model_server.rest
  e2e_tests/api_prompt_gateway.rest
  e2e_tests/tracing.rest
Due: python-tests

updated docs
  README.md
  docs/source/index.rst
Due: none

added refernce to tracing screenshot in main README
  README.md
Due: none

fixing issue #251 for incorrect port mappings
  docs/source/concepts/tech_overview/listener.rst
Due: none

updating docs to reflect changes in 0.1.2 like tracing via signoz and… (#271)
  README.md
  docs/source/_static/img/tracing.png
  docs/source/concepts/tech_overview/listener.rst
  docs/source/conf.py
  docs/source/guides/observability/tracing.rst
  docs/source/index.rst
  e2e_tests/api_llm_gateway.rest
  e2e_tests/api_model_server.rest
  e2e_tests/api_prompt_gateway.rest
  e2e_tests/tracing.rest
Due: python-tests

deploy: a0d87d86c927d18c004a56845e32500bed92094f
  .buildinfo
  _images/tracing.png
  _static/documentation_options.js
  _static/img/tracing.png
  build_with_arch/agent.html
  build_with_arch/rag.html
  concepts/llm_provider.html
  concepts/prompt_target.html
  concepts/tech_overview/error_target.html
  concepts/tech_overview/listener.html
  concepts/tech_overview/model_serving.html
  concepts/tech_overview/prompt.html
  concepts/tech_overview/request_lifecycle.html
  concepts/tech_overview/tech_overview.html
  concepts/tech_overview/terminology.html
  concepts/tech_overview/threading_model.html
  get_started/intro_to_arch.html
  get_started/overview.html
  get_started/quickstart.html
  guides/function_calling.html
  guides/observability/access_logging.html
  guides/observability/monitoring.html
  guides/observability/observability.html
  guides/observability/tracing.html
  guides/prompt_guard.html
  index.html
  resources/configuration_reference.html
  search.html
  searchindex.js
Due: none

updated website with PH badge
  www/index.html
Due: none

updated website with PH badge (#272)
  www/index.html
Due: none

updating website to track analytics
  README.md
  www/index.html
Due: none

updating website to track analytics (#273)
  README.md
  www/index.html
Due: none

deploy: df0cd50cbd1b15ce5861d2fad8d548b94a02b9bd
  build_with_arch/agent.html
  build_with_arch/rag.html
  concepts/llm_provider.html
  concepts/prompt_target.html
  concepts/tech_overview/error_target.html
  concepts/tech_overview/listener.html
  concepts/tech_overview/model_serving.html
  concepts/tech_overview/prompt.html
  concepts/tech_overview/request_lifecycle.html
  concepts/tech_overview/tech_overview.html
  concepts/tech_overview/terminology.html
  concepts/tech_overview/threading_model.html
  get_started/intro_to_arch.html
  get_started/overview.html
  get_started/quickstart.html
  guides/function_calling.html
  guides/observability/access_logging.html
  guides/observability/monitoring.html
  guides/observability/observability.html
  guides/observability/tracing.html
  guides/prompt_guard.html
  index.html
  resources/configuration_reference.html
  search.html
Due: none

wip
  arch/envoy.template.yaml
  arch/supervisord.conf
  crates/common/src/consts.rs
  crates/common/src/tracing.rs
  crates/llm_gateway/src/filter_context.rs
  crates/llm_gateway/src/stream_context.rs
Due: cargo-fmt, cargo-clippy, cargo-test

fix start time of llm filter
  crates/llm_gateway/src/stream_context.rs
Due: cargo-fmt, cargo-clippy, cargo-test

fix int tests
  crates/llm_gateway/tests/integration.rs
Due: cargo-fmt, cargo-clippy, cargo-test

release 0.1.3
  arch/tools/poetry.lock
  arch/tools/pyproject.toml
  model_server/poetry.lock
  model_server/pyproject.toml
Due: none

fix start time of llm filter (#278)
  crates/llm_gateway/src/stream_context.rs
  crates/llm_gateway/tests/integration.rs
Due: cargo-fmt, cargo-clippy, cargo-test

deploy: 097513ee604c73d0e68fc6f003768cec65cfb429
  build_with_arch/agent.html
  build_with_arch/rag.html
  concepts/llm_provider.html
  concepts/prompt_target.html
  concepts/tech_overview/error_target.html
  concepts/tech_overview/listener.html
  concepts/tech_overview/model_serving.html
  concepts/tech_overview/prompt.html
  concepts/tech_overview/request_lifecycle.html
  concepts/tech_overview/tech_overview.html
  concepts/tech_overview/terminology.html
  concepts/tech_overview/threading_model.html
  get_started/intro_to_arch.html
  get_started/overview.html
  get_started/quickstart.html
  guides/function_calling.html
  guides/observability/access_logging.html
  guides/observability/monitoring.html
  guides/observability/observability.html
  guides/observability/tracing.html
  guides/prompt_guard.html
  index.html
  resources/configuration_reference.html
  search.html
Due: none

udpate ver
  arch/tools/poetry.lock
  arch/tools/pyproject.toml
Due: none

release 0.1.3 (#280)
  arch/tools/poetry.lock
  arch/tools/pyproject.toml
  model_server/poetry.lock
  model_server/pyproject.toml
Due: none

first init
  model_server/app/function_calling/hallucination_handler.py
Due: python-tests

fix
  model_server/app/tests/test_cases.json
  model_server/app/tests/test_hallucination.py
Due: python-tests

fix test
  model_server/app/function_calling/hallucination_handler.py
  model_server/app/function_calling/model_handler.py
  model_server/app/tests/test_hallucination.py
Due: python-tests

add toml plugin
  archgw.code-workspace
Due: none

improve
  crates/common/src/tracing.rs
  crates/llm_gateway/src/stream_context.rs
Due: cargo-fmt, cargo-clippy, cargo-test

improve move
  arch/envoy.template.yaml
Due: none

remove streamer
  arch/Dockerfile
  arch/stream_traces.py
  arch/supervisord.conf
Due: python-tests

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-test: any of: \.rs$
  python-tests: any of: \.py$
