Repository katanemo/arch: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-test, python-tests

cargo-fmt:
  name: cargo-fmt
  language: system
  entry: bash -c "cd crates/llm_gateway && cargo fmt -- --check"

cargo-clippy:
  name: cargo-clippy
  language: system
  entry: bash -c "cd crates/llm_gateway && cargo clippy --all"

cargo-test:
  name: cargo-test
  language: system
  entry: bash -c "cd crates/llm_gateway && cargo test --lib"

python-tests:
  name: Run Python Tests with pytest
  language: system
  entry: bash -c "cd model_server && pytest --maxfail=5 --disable-warnings"

fix after merge
  crates/llm_gateway/src/stream_context.rs
Due: cargo-fmt, cargo-clippy, cargo-test

add in time to first token stat
  crates/common/src/stats.rs
  crates/llm_gateway/src/filter_context.rs
  crates/llm_gateway/src/stream_context.rs
Due: cargo-fmt, cargo-clippy, cargo-test

fix bug with checking for token count of zero
  crates/llm_gateway/src/stream_context.rs
Due: cargo-fmt, cargo-clippy, cargo-test

Add in Latency and output_sequence_length
  crates/llm_gateway/src/filter_context.rs
  crates/llm_gateway/src/stream_context.rs
Due: cargo-fmt, cargo-clippy, cargo-test

add in tpot stat
  crates/llm_gateway/src/filter_context.rs
  crates/llm_gateway/src/stream_context.rs
Due: cargo-fmt, cargo-clippy, cargo-test

update stats to output input_sequence_length Histogram
  crates/llm_gateway/src/filter_context.rs
  crates/llm_gateway/src/stream_context.rs
Due: cargo-fmt, cargo-clippy, cargo-test

update integration tests to expect new stats and new request for time
  crates/llm_gateway/tests/integration.rs
Due: cargo-fmt, cargo-clippy, cargo-test

update weather_forecast demo to spin up grafana and prometheus when using monitoring profile
  crates/llm_gateway/tests/integration.rs
  demos/weather_forecast/docker-compose.yaml
  demos/weather_forecast/grafana/dashboard.yaml
  demos/weather_forecast/grafana/dashboards/envoy_overview.json
  demos/weather_forecast/grafana/datasource.yaml
  demos/weather_forecast/prometheus/prometheus.yaml
Due: cargo-fmt, cargo-clippy, cargo-test

wip
  arch/Dockerfile
  arch/envoy.template.yaml
  crates/Cargo.lock
  crates/common/Cargo.toml
  crates/common/src/lib.rs
  crates/common/src/tracing.rs
  crates/prompt_gateway/src/http_context.rs
  crates/prompt_gateway/src/stream_context.rs
  demos/shared/trace_streamer/Dockerfile
  demos/shared/trace_streamer/stream_traces.py
  demos/weather_forecast/docker-compose.yaml
  tracing.rest
Due: cargo-fmt, cargo-clippy, cargo-test, python-tests

fix cmd
  arch/Dockerfile
Due: none

fix more
  crates/prompt_gateway/src/http_context.rs
Due: cargo-fmt, cargo-clippy, cargo-test

add tft
  crates/prompt_gateway/src/http_context.rs
  crates/prompt_gateway/src/stream_context.rs
Due: cargo-fmt, cargo-clippy, cargo-test

wip
  crates/common/src/tracing.rs
  crates/prompt_gateway/src/http_context.rs
Due: cargo-fmt, cargo-clippy, cargo-test

add event
  crates/common/src/tracing.rs
Due: cargo-fmt, cargo-clippy, cargo-test

wip
  crates/common/src/tracing.rs
Due: cargo-fmt, cargo-clippy, cargo-test

use python:3.12
  arch/Dockerfile
  demos/hr_agent/Dockerfile
  demos/network_agent/Dockerfile
  demos/shared/chatbot_ui/Dockerfile
  model_server/Dockerfile
Due: none

update rust toolchain to 1.82 (#255)
  .github/workflows/rust_tests.yml
  arch/Dockerfile
  arch/README.md
  arch/docker-compose.dev.yaml
  crates/llm_gateway/tests/integration.rs
  crates/prompt_gateway/tests/integration.rs
  demos/hr_agent/Dockerfile
  demos/network_agent/Dockerfile
  demos/shared/chatbot_ui/Dockerfile
  model_server/Dockerfile
Due: cargo-fmt, cargo-clippy, cargo-test

deploy: d87105882b07ff9b640fb55b66d093b27560f268
  build_with_arch/agent.html
  build_with_arch/rag.html
  concepts/llm_provider.html
  concepts/prompt_target.html
  concepts/tech_overview/error_target.html
  concepts/tech_overview/listener.html
  concepts/tech_overview/model_serving.html
  concepts/tech_overview/prompt.html
  concepts/tech_overview/request_lifecycle.html
  concepts/tech_overview/tech_overview.html
  concepts/tech_overview/terminology.html
  concepts/tech_overview/threading_model.html
  get_started/intro_to_arch.html
  get_started/overview.html
  get_started/quickstart.html
  guides/function_calling.html
  guides/observability/access_logging.html
  guides/observability/monitoring.html
  guides/observability/observability.html
  guides/observability/tracing.html
  guides/prompt_guard.html
  index.html
  resources/configuration_reference.html
  search.html
Due: none

use logging
  demos/shared/trace_streamer/stream_traces.py
Due: python-tests

use tee
  arch/Dockerfile
Due: none

fix int tests
  crates/prompt_gateway/src/http_context.rs
Due: cargo-fmt, cargo-clippy, cargo-test

Add service to stream custom otel traces to otel-collector (#262)
  arch/Dockerfile
  arch/envoy.template.yaml
  crates/Cargo.lock
  crates/common/Cargo.toml
  crates/common/src/lib.rs
  crates/common/src/tracing.rs
  crates/prompt_gateway/src/http_context.rs
  crates/prompt_gateway/src/stream_context.rs
  demos/shared/trace_streamer/Dockerfile
  demos/shared/trace_streamer/stream_traces.py
  demos/weather_forecast/docker-compose.yaml
  tracing.rest
Due: cargo-fmt, cargo-clippy, cargo-test, python-tests

fix int tests
  crates/llm_gateway/tests/integration.rs
Due: cargo-fmt, cargo-clippy, cargo-test

move
  demos/weather_forecast/docker-compose.yaml
Due: none

address pr feedback
  crates/llm_gateway/src/filter_context.rs
  crates/llm_gateway/src/stream_context.rs
  demos/weather_forecast_signoz/docker-compose.yaml
  demos/weather_forecast_signoz/grafana/dashboard.yaml
  demos/weather_forecast_signoz/grafana/dashboards/envoy_overview.json
  demos/weather_forecast_signoz/grafana/datasource.yaml
  demos/weather_forecast_signoz/prometheus/prometheus.yaml
Due: cargo-fmt, cargo-clippy, cargo-test

fix dashboard
  crates/llm_gateway/src/stream_context.rs
  demos/weather_forecast/grafana/dashboards/envoy_overview.json
  demos/weather_forecast_signoz/grafana/dashboards/envoy_overview.json
Due: cargo-fmt, cargo-clippy, cargo-test

refactor a bit
  crates/llm_gateway/src/stream_context.rs
Due: cargo-fmt, cargo-clippy, cargo-test

Update arch stats (#250)
  crates/common/src/stats.rs
  crates/llm_gateway/src/filter_context.rs
  crates/llm_gateway/src/stream_context.rs
  crates/llm_gateway/tests/integration.rs
  demos/weather_forecast/docker-compose.yaml
  demos/weather_forecast/grafana/dashboard.yaml
  demos/weather_forecast/grafana/dashboards/envoy_overview.json
  demos/weather_forecast/grafana/datasource.yaml
  demos/weather_forecast/prometheus/prometheus.yaml
  demos/weather_forecast_signoz/docker-compose.yaml
  demos/weather_forecast_signoz/grafana/dashboard.yaml
  demos/weather_forecast_signoz/grafana/dashboards/envoy_overview.json
  demos/weather_forecast_signoz/grafana/datasource.yaml
  demos/weather_forecast_signoz/prometheus/prometheus.yaml
Due: cargo-fmt, cargo-clippy, cargo-test

move grafana and prometheus to shared
  demos/shared/grafana/Dockerfile
  demos/shared/grafana/dashboard.yaml
  demos/shared/grafana/dashboards/envoy_overview.json
  demos/shared/grafana/datasource.yaml
  demos/shared/prometheus/Dockerfile
  demos/shared/prometheus/prometheus.yaml
  demos/weather_forecast/docker-compose.yaml
  demos/weather_forecast_signoz/docker-compose.yaml
  demos/weather_forecast_signoz/grafana/dashboard.yaml
  demos/weather_forecast_signoz/grafana/dashboards/envoy_overview.json
  demos/weather_forecast_signoz/grafana/datasource.yaml
  demos/weather_forecast_signoz/prometheus/prometheus.yaml
Due: none

release 0.1.2
  arch/tools/poetry.lock
  arch/tools/pyproject.toml
  model_server/poetry.lock
  model_server/pyproject.toml
Due: none

move grafana and prometheus to shared (#265)
  demos/shared/grafana/Dockerfile
  demos/shared/grafana/dashboard.yaml
  demos/shared/grafana/dashboards/envoy_overview.json
  demos/shared/grafana/datasource.yaml
  demos/shared/prometheus/Dockerfile
  demos/shared/prometheus/prometheus.yaml
  demos/weather_forecast/docker-compose.yaml
  demos/weather_forecast_signoz/docker-compose.yaml
  demos/weather_forecast_signoz/grafana/dashboard.yaml
  demos/weather_forecast_signoz/grafana/dashboards/envoy_overview.json
  demos/weather_forecast_signoz/grafana/datasource.yaml
  demos/weather_forecast_signoz/prometheus/prometheus.yaml
Due: none

add lock file
  arch/tools/poetry.lock
Due: none

fix version
  .github/workflows/e2e_tests.yml
  .github/workflows/model-server-tests.yml
Due: none

fix tests
  api_llm_gateway.rest
  model_server/app/tests/test_loaders_cpu.py
  model_server/app/tests/test_loaders_gpu.py
  model_server/app/tests/test_loaders_mps.py
Due: python-tests

release 0.1.2 (#266)
  .github/workflows/e2e_tests.yml
  .github/workflows/model-server-tests.yml
  api_llm_gateway.rest
  arch/tools/poetry.lock
  arch/tools/pyproject.toml
  model_server/app/tests/test_loaders_cpu.py
  model_server/app/tests/test_loaders_gpu.py
  model_server/app/tests/test_loaders_mps.py
  model_server/poetry.lock
  model_server/pyproject.toml
Due: python-tests

deploy: d1dd8710a40d561782bf4cac31be86f2bfb26dd0
  build_with_arch/agent.html
  build_with_arch/rag.html
  concepts/llm_provider.html
  concepts/prompt_target.html
  concepts/tech_overview/error_target.html
  concepts/tech_overview/listener.html
  concepts/tech_overview/model_serving.html
  concepts/tech_overview/prompt.html
  concepts/tech_overview/request_lifecycle.html
  concepts/tech_overview/tech_overview.html
  concepts/tech_overview/terminology.html
  concepts/tech_overview/threading_model.html
  get_started/intro_to_arch.html
  get_started/overview.html
  get_started/quickstart.html
  guides/function_calling.html
  guides/observability/access_logging.html
  guides/observability/monitoring.html
  guides/observability/observability.html
  guides/observability/tracing.html
  guides/prompt_guard.html
  index.html
  resources/configuration_reference.html
  search.html
Due: none

move custom tracer to llm filter
  arch/Dockerfile
  arch/envoy.template.yaml
  arch/stream_traces.py
  arch/supervisord.conf
  archgw.code-workspace
  crates/llm_gateway/src/stream_context.rs
  crates/prompt_gateway/src/http_context.rs
  demos/llm_routing/README.md
  demos/llm_routing/docker-compose.yaml
  demos/shared/chatbot_ui/.vscode/launch.json
  demos/shared/chatbot_ui/common.py
  demos/shared/chatbot_ui/run_stream.py
  demos/shared/grafana/dashboards/envoy_overview.json
  demos/shared/trace_streamer/Dockerfile
  demos/weather_forecast/docker-compose.yaml
  demos/weather_forecast_signoz/docker-compose.yaml
Due: cargo-fmt, cargo-clippy, cargo-test, python-tests

fix tracing
  arch/Dockerfile
  arch/docker-compose.dev.yaml
  arch/docker-compose.e2e.yaml
  arch/docker-compose.yaml
  arch/stream_traces.py
  arch/supervisord.conf
Due: python-tests

fix more
  e2e_tests/run_e2e_tests.sh
Due: none

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-test: any of: \.rs$
  python-tests: any of: \.py$
