Repository katanemo/arch: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-test, python-tests

cargo-fmt:
  name: cargo-fmt
  language: system
  entry: bash -c "cd crates/llm_gateway && cargo fmt -- --check"

cargo-clippy:
  name: cargo-clippy
  language: system
  entry: bash -c "cd crates/llm_gateway && cargo clippy --all"

cargo-test:
  name: cargo-test
  language: system
  entry: bash -c "cd crates/llm_gateway && cargo test --lib"

python-tests:
  name: Run Python Tests with pytest
  language: system
  entry: bash -c "cd model_server && pytest --maxfail=5 --disable-warnings"

more change
  crates/prompt_gateway/src/stream_context.rs
  demos/hr_agent/arch_config.yaml
Due: cargo-fmt, cargo-clippy, cargo-test

even more fixes
  crates/prompt_gateway/src/stream_context.rs
  demos/hr_agent/arch_config.yaml
  demos/hr_agent/main.py
Due: cargo-fmt, cargo-clippy, cargo-test, python-tests

Use large github action machine to run e2e tests (#230)
  .github/workflows/e2e_tests.yml
  arch/Dockerfile
  arch/docker-compose.yaml
  arch/env.list
  arch/stage.env
  arch/tools/build_cli.sh
  arch/tools/cli/config_generator.py
  arch/tools/cli/main.py
  arch/tools/poetry.lock
  arch/tools/pyproject.toml
  archgw.code-workspace
  crates/prompt_gateway/src/http_context.rs
  crates/prompt_gateway/src/stream_context.rs
  demos/hr_agent/arch_config.yaml
  demos/hr_agent/main.py
  demos/insurance_agent/arch_config.yaml
  demos/network_agent/arch_config.yaml
  docs/source/build_with_arch/includes/agent/function-calling-agent.yaml
  docs/source/concepts/includes/arch_config.yaml
  docs/source/get_started/includes/quickstart.yaml
  docs/source/guides/includes/arch_config.yaml
  docs/source/resources/includes/arch_config_full_reference.yaml
  e2e_tests/common_scripts.sh
  e2e_tests/poetry.lock
  e2e_tests/pyproject.toml
  e2e_tests/run_e2e_tests.sh
  model_server/.vscode/launch.json
  model_server/app/cli.py
  model_server/app/function_calling/model_utils.py
  model_server/poetry.lock
  model_server/pyproject.toml
Due: cargo-fmt, cargo-clippy, cargo-test, python-tests

deploy: e462e393b160bb7096d2d0007c17ace5af647541
  _downloads/ca9d3b7116524473d8adbde7cf15d167/arch_config_full_reference.yaml
  build_with_arch/agent.html
  build_with_arch/rag.html
  concepts/llm_provider.html
  concepts/prompt_target.html
  concepts/tech_overview/error_target.html
  concepts/tech_overview/listener.html
  concepts/tech_overview/model_serving.html
  concepts/tech_overview/prompt.html
  concepts/tech_overview/request_lifecycle.html
  concepts/tech_overview/tech_overview.html
  concepts/tech_overview/terminology.html
  concepts/tech_overview/threading_model.html
  get_started/intro_to_arch.html
  get_started/overview.html
  get_started/quickstart.html
  guides/function_calling.html
  guides/observability/access_logging.html
  guides/observability/monitoring.html
  guides/observability/observability.html
  guides/observability/tracing.html
  guides/prompt_guard.html
  index.html
  resources/configuration_reference.html
  search.html
Due: none

several fixes to demos
  demos/hr_agent/README.md
  demos/hr_agent/arch_config.yaml
  demos/hr_agent/image.png
  demos/network_agent/README.md
  demos/network_agent/arch_config.yaml
  demos/network_agent/docker-compose.yaml
  demos/network_agent/image.png
  demos/network_agent/main.py
  demos/network_agent/requirements.txt
  demos/shared/chatbot_ui/common.py
Due: python-tests

set version to 0.1.0
  arch/tools/poetry.lock
  arch/tools/pyproject.toml
  model_server/pyproject.toml
Due: none

several fixes to demos (#238)
  demos/hr_agent/README.md
  demos/hr_agent/arch_config.yaml
  demos/hr_agent/image.png
  demos/network_agent/README.md
  demos/network_agent/arch_config.yaml
  demos/network_agent/docker-compose.yaml
  demos/network_agent/image.png
  demos/network_agent/main.py
  demos/network_agent/requirements.txt
  demos/shared/chatbot_ui/common.py
Due: python-tests

update readme
  README.md
Due: none

release 0.1.0 (#239)
  README.md
  arch/tools/poetry.lock
  arch/tools/pyproject.toml
  model_server/pyproject.toml
Due: none

add status badges
  README.md
Due: none

update status badges
  README.md
Due: none

update build status badges
  README.md
Due: none

fix ports and update README for paths to agent/chat
  demos/hr_agent/README.md
  demos/hr_agent/docker-compose.yaml
  demos/network_agent/README.md
  demos/network_agent/docker-compose.yaml
Due: none

minor fix
  demos/hr_agent/docker-compose.yaml
Due: none

fix ports and update README for paths to agent/chat (#240)
  demos/hr_agent/README.md
  demos/hr_agent/docker-compose.yaml
  demos/network_agent/README.md
  demos/network_agent/docker-compose.yaml
Due: none

fix stream
  model_server/app/function_calling/model_utils.py
Due: python-tests

fix
  demos/function_calling/arch_config.yaml
  model_server/app/function_calling/model_utils.py
  model_server/app/main.py
Due: python-tests

fixing ports in arch_config for demos
  demos/hr_agent/arch_config.yaml
  demos/network_agent/arch_config.yaml
Due: none

fixing ports in arch_config for demos (#241)
  demos/hr_agent/arch_config.yaml
  demos/network_agent/arch_config.yaml
Due: none

feedback
  model_server/app/commons/constants.py
  model_server/app/function_calling/model_utils.py
  model_server/app/tests/test_function_calling.py
Due: python-tests

updating README logo
  README.md
  image.png
Due: none

updating README logo (#242)
  README.md
  image.png
Due: none

deploy: e4d5293af46f04407030a74cf23b5ca5026ed1d2
  build_with_arch/agent.html
  build_with_arch/rag.html
  concepts/llm_provider.html
  concepts/prompt_target.html
  concepts/tech_overview/error_target.html
  concepts/tech_overview/listener.html
  concepts/tech_overview/model_serving.html
  concepts/tech_overview/prompt.html
  concepts/tech_overview/request_lifecycle.html
  concepts/tech_overview/tech_overview.html
  concepts/tech_overview/terminology.html
  concepts/tech_overview/threading_model.html
  get_started/intro_to_arch.html
  get_started/overview.html
  get_started/quickstart.html
  guides/function_calling.html
  guides/observability/access_logging.html
  guides/observability/monitoring.html
  guides/observability/observability.html
  guides/observability/tracing.html
  guides/prompt_guard.html
  index.html
  resources/configuration_reference.html
  search.html
Due: none

address comments
  model_server/app/function_calling/model_utils.py
Due: python-tests

add http files for llm and prompt gateway for local testing
  api_llm_gateway.http
  api_prompt_gateway.http
Due: none

rename
  api_llm_gateway.rest
Due: none

rename
  api_prompt_gateway.rest
Due: none

update
  model_server/app/function_calling/model_utils.py
  model_server/app/tests/test_function_calling.py
Due: python-tests

retry embeddings
  crates/prompt_gateway/src/filter_context.rs
Due: cargo-fmt, cargo-clippy, cargo-test

better logs
  crates/prompt_gateway/src/filter_context.rs
Due: cargo-fmt, cargo-clippy, cargo-test

wip
  crates/prompt_gateway/src/filter_context.rs
  crates/prompt_gateway/src/http_context.rs
  crates/prompt_gateway/src/stream_context.rs
  crates/prompt_gateway/tests/integration.rs
Due: cargo-fmt, cargo-clippy, cargo-test

add model_server rest api
  api_model_server.rest
Due: none

add modelserver and arch_fc
  api_model_server.rest
Due: none

add http files for llm and prompt gateway for local testing (#244)
  api_llm_gateway.rest
  api_model_server.rest
  api_prompt_gateway.rest
Due: none

deploy: 9a5c5cc3a319fd6d92c8fee799a216887801b7ad
  build_with_arch/agent.html
  build_with_arch/rag.html
  concepts/llm_provider.html
  concepts/prompt_target.html
  concepts/tech_overview/error_target.html
  concepts/tech_overview/listener.html
  concepts/tech_overview/model_serving.html
  concepts/tech_overview/prompt.html
  concepts/tech_overview/request_lifecycle.html
  concepts/tech_overview/tech_overview.html
  concepts/tech_overview/terminology.html
  concepts/tech_overview/threading_model.html
  get_started/intro_to_arch.html
  get_started/overview.html
  get_started/quickstart.html
  guides/function_calling.html
  guides/observability/access_logging.html
  guides/observability/monitoring.html
  guides/observability/observability.html
  guides/observability/tracing.html
  guides/prompt_guard.html
  index.html
  resources/configuration_reference.html
  search.html
Due: none

improve
  crates/prompt_gateway/src/filter_context.rs
Due: cargo-fmt, cargo-clippy, cargo-test

chore: update stream_context.rs
  crates/prompt_gateway/src/stream_context.rs
Due: cargo-fmt, cargo-clippy, cargo-test

add e2e test
  e2e_tests/.vscode/launch.json
  e2e_tests/common.py
  e2e_tests/test_prompt_gateway.py
  model_server/app/function_calling/model_utils.py
  model_server/app/main.py
Due: python-tests

fix e2e test
  e2e_tests/test_prompt_gateway.py
Due: python-tests

retry embeddings fetch (#245)
  crates/prompt_gateway/src/filter_context.rs
  crates/prompt_gateway/src/http_context.rs
  crates/prompt_gateway/src/stream_context.rs
  crates/prompt_gateway/tests/integration.rs
Due: cargo-fmt, cargo-clippy, cargo-test

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-test: any of: \.rs$
  python-tests: any of: \.py$
